@model SCERP.Web.Areas.Planning.Models.ViewModels.DailyLineLayoutViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
<div class="header-title">
    <h2>Daily LineLayout</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">

        @using (Html.BeginForm("Index", "DailyLineLayout", FormMethod.Get, new { @class = "DailyLineLayoutSearchForm ignore-validation" }))
        {
            @Html.HiddenFor(x => x.IsSearch)
            <table>
                <tr>
                    <td>
                        @Html.Label("Date :")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.FromDate, new { id = "InterrupDateText", @class = "datepicker" })
                    </td>
                    <td>
                        <input type="button" class="searchAction" />
                    </td>
                </tr>
            </table>
        }

    </div>
</section>
@using (Html.BeginForm("Save", "DailyLineLayout", FormMethod.Get, new { @class = "DailyLineLayoutSearchForm ignore-validation" }))
{
    @Html.HiddenFor(x=>x.IsSearch)
    <section class="formCover">
        <div class="additem">
            <div class="addButton-wrapper">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Date: ")
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.OutputDate, new { @class = "datepicker" })
                        </td>
                        <td>
                            <input type="submit" class="SubmitButton addButton" value="Save" />
                        </td>
                    </tr>
                </table>
            </div>
          
            <table class="webgrid-table tableFocusInputText">
                <thead class="webgrid-header">
                    <tr>
                        <th>LINE</th>
                        <th>Operators</th>
                        <th>Day Target Qty</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            Total
                        </td>
                        <td>
                            @Model.DailyLineLayouts.Values.Sum(x => x.NumberOfMachine)
                        </td>
                        <td>
                            @Model.DailyLineLayouts.Values.Sum(x => x.PlanQty)
                        </td>
                        <td></td>
                    </tr>
                @foreach (var key in Model.DailyLineLayouts.Keys)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x => x.DailyLineLayouts[key].LineId)
                            @Html.DisplayFor(x => x.DailyLineLayouts[key].Production_Machine.Name)
                        </td>
                        <td>@Html.TextBoxFor(x => x.DailyLineLayouts[key].NumberOfMachine, new {@style = "width:97%"})</td>
                        <td>@Html.TextBoxFor(x => x.DailyLineLayouts[key].PlanQty, new {@style = "width:97%"})</td>
                        <td>@Html.TextBoxFor(x => x.DailyLineLayouts[key].Remarks, new {@style = "width:97%"})</td>
                    
                    </tr>
                }


                </tbody>
            </table>
        </div>
    </section>
}