@model SCERP.Web.Areas.Production.Models.BatchRollViewModel
@{
    Layout = null;
}

<table id="batchDetailListingTable" class="tabefont webgrid-table webgrid">
    <thead style="text-align: center" class="webgrid-header">
        <tr>
            <th>RollRefID</th>
            <th>RollNo</th>
            <th>Fabric Type</th>
            <th>M/C Dia</th>
            <th>Finish Dia</th>
            <th>GSM</th>
            <th>Grey Qty</th>
            <th>Remarks</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>


    @foreach (var m in Model.BatchRolls.Select((x, i) => new {Value = x, Index = i}))
    {
        <tr>
            <td>
         
                @Html.DisplayFor(x => m.Value.RollRefNo)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.CharllRollNo)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.ItemName)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.SizeName)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.FinishSizeName)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.GSM)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.Quantity)
            </td>
            <td>
                @Html.DisplayFor(x => m.Value.Remarks)
            </td>
            <td>
                <button class="deleteAction" targentclass="batchRollContainner" action="/Production/BatchRoll/DeleteRoll?BatchRollId=@m.Value.BatchRollId&BatchId=@m.Value.BatchId"></button>
            </td>
        </tr>

    }
        <tr style="background-color: lavender">
            <td >Total Roll Wt(kg)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td >
                @Model.BatchRolls.Sum(x => x.Quantity)
            </td>
        </tr>
    </tbody>
</table>