@model SCERP.Web.Areas.Planning.Models.ViewModels.TimeAndActionViewModel
@{
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
    bool isRead = false;
    if (SCERP.Common.PortalContext.CurrentUser.UserId == Guid.Parse("92C3DDF0-4202-4117-9137-D2CBFFB7D136"))
    {
        isRead = false;
    }
}

@section styles
{
    <link href="~/Content/Common/SingleDropdownMenu.css" rel="stylesheet" />
    <style type="text/css">
        /* All headers */
        .handsontable th {
            background-color: #db7093;
            color: #000000;
        }

        .handsontable .htCore .htDimmed {
            color: #000000;
        }

        .hot-container {
            width: 100%;
            height: 100%;
            min-height: 600px;
        }

        /* Column headers */
        .ht_clone_top th {
            background-color: #ff00ff;
            color: #000000;
        }

        .ui-datepicker {
            z-index: 99 !important;
        }
    </style>
}

<section class="common-search-section">
    <div class="search common-search-wrapper" style="border: goldenrod">
        @using (Html.BeginForm("Index", "TimeAndAction", FormMethod.Get, new { @class = "TimeAndActionSearchForm" }))
        {

            <table>
                <tr>
                    <td>
                        @Html.Label("", "Buyer")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.BuyerRefId, Model.BuyerSelectListItem, "-Select Buyer-", new { id = "CostOrderStyle_BuyerId" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                    <td>
                        @Html.Label("", "Order")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.OrderNo, Model.OrderSelectListItem, "ALL", new { id = "CostOrderStyle_OrderNo_ID", @class = "CostOrderStyle_Order" })
                    </td>
                    <td>
                        @Html.Label("", "Style")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.OrderStyleRefId, Model.StylesSelectListItem, "ALL", new { id = "CostOrderStyle_StyleNo" })
                    </td>

                    <td>
                        <div style="margin-bottom: 3px;">
                            <div class="dropdown">
                                <button class="dropbtn">REPORT▼</button>
                                <div class="dropdown-content">
                                    <a style="cursor: pointer" target="_blank" onclick=" tnAReport(1) ">PDF</a>
                                    <a style="cursor: pointer" target="_blank" onclick=" tnAReport(3) ">Excel</a>

                                </div>
                            </div>
                        </div>
                    </td>

                </tr>


                <tr>
                    <td>
                        @Html.Label("", "Filter")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.FromDate, new { @style = "width:96%;background-color:#87cefa", @class = "datepicker", @placeholder = "Calendar Date" })
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(x => x.SearchString, new { @style = "width:96%;background-color:#ffff00", @class = "searchEnterKeyAction tnaResponsible", @placeholder = "Search by Responsible Department " })
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(x => x.ActivitySearchKey, new { @style = "width:96%;background-color:#00ffff", @class = "searchEnterKeyAction", @placeholder = "Search by Group Activity name and press enter key " })
                    </td>
                    <td>
                        <input type="button" class="searchAction" />
                    </td>
                    <td>
                        <input type="button" class="addButton" onclick="tnAReportDetail(1)" value="Export" />
                    </td>

                </tr>
            </table>
        }
    </div>
</section>
<section class="search formCover">
    <div id="example1" style="z-index: 1" class="hot handsontable  hot-container"></div>
</section>
@section scripts
{
    <script type="text/javascript">

       var isReadOnly = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(isRead)));
        var data = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Tnas)));
        var container = document.getElementById('example1');
        var heads = [
            'Id',
           // 'Buyer',
            // 'Order',
            'Style',
            'Qty(Pces)',
            'Merchandiser',
           //  'SL',
            'Activity',
            'Plan Start',
            'Plan End',
            'What',
            'Who',
            'When',
            'Actual Start',
            'Actual End',
            'Responsible',
            'Update Status'
        ];
        var hot = new Handsontable(container, {
            data: data,
            columnSorting: true,
            rowHeaders: true,
            fixedColumnsLeft:5,
            contextMenu: true,
            manualColumnFreeze: true,
            filters: false,
            dropdownMenu: true,

            columns: [
                { data: 'TnaRowId' ,readOnly: true},
               // { data: 'BuyerName',readOnly: true },
                //{ data: 'OrderNo',readOnly: true },
                { data: 'StyleName',readOnly: true },
                { data: 'Quantity',readOnly: true },
                { data: 'Merchandiser',readOnly: true },
                //{ data: 'SerialId',readOnly:isReadOnly},
                { data: 'ActivityName',readOnly:true },
                { data: 'PSDate'  ,type: 'date', dateFormat: 'DD/MM/YYYY', correctFormat: true ,readOnly:isReadOnly  },
                { data: 'PEDate',type: 'date', dateFormat: 'DD/MM/YYYY' , correctFormat: true,readOnly:isReadOnly },
                { data: 'Rmks' },
                { data: 'XWho' },
                { data: 'XWhen' },
                { data: 'ASDate',  type: 'date', dateFormat: 'DD/MM/YYYY', correctFormat: true   },
                { data: 'AEDate',  type: 'date',dateFormat: 'DD/MM/YYYY', correctFormat: true   },
                { data: 'Responsible',readOnly:true },
                {data:'UpdateRemarks'}
            ],
            colHeaders:heads


        });

        hot.render();
        hot.updateSettings({
            afterChange: function(changes) {
                var rowThatHasBeenChanged = changes[0][0];
                var sourceRow = hot.getSourceDataAtRow(rowThatHasBeenChanged);
                var key = changes[0][1];
                var value = changes[0][3];
                var option = {
                    url: '/Planning/TimeAndAction/UpdateTna?tnaRowId='+sourceRow.TnaRowId+"&key="+key+"&value="+value,
                    type:"POST"
                };
                $.Ajax(option);
            },
            contextMenu: {
                callback: function(key, options) {
                    var sel = this.getSelected();

                }
            }
        });


        $('#rowAddBtn').unbind('click').bind('click', function() {
            var form = $(this).parents('form:first');
            var option= {
                url: '/Planning/TimeAndAction/AddRow',
                data:form.serialize(),

            }
            form.Post(option);
        });
        $('#rowRemoveBtn').unbind('click').bind('click', function() {
            var form = $(this).parents('form:first');
            var option= {
                url: '/Planning/TimeAndAction/RemoveRow',
                data:form.serialize(),

            }
            form.Post(option);
        });

        $('#copyAndPastBtn').unbind('click').bind('click', function() {

            var form = $(this).parents('form:first');
            var option= {
                url: '/Planning/TimeAndAction/CopyAndPast',
                data:form.serialize(),

            }
            form.Post(option);
        });

        $('#CostOrderStyle_BuyerId').unbind('change').bind('change', function () {
            var buyerRefId = $(this).val();
            $.Ajax({
                url: '/Inventory/StyleShipment/GetOrderByBuyer/',
                data: { buyerRefId: buyerRefId }
            }).done(function (orderList) {

                removeDependentDropdown();
                if (orderList.length > 0) {
                    populateDropDown({ OrderNo: "", RefNo: "ALL" });
                    $.each(orderList, function (order) {
                        populateDropDown({ OrderNo: this.OrderNo, RefNo: this.RefNo });
                    });
                } else {
                    populateDropDown({ RefNo: "No Order Found", OrderNo: "" });
                }
            });
        });
        function populateDropDown(obj) {
            $('.CostOrderStyle_Order').append(
                $('<option/>').attr('value', obj.OrderNo).text(obj.RefNo)
            );
        }
        $('#CostOrderStyle_OrderNo_ID').unbind('change').bind('change', function () {
            var orderNo = $(this).val();
            $.Ajax({
                url: '/Inventory/StyleShipment/GetStyleByOrderNo/',
                data: { orderNo: orderNo }
            }).done(function (styleList) {
                $('#CostOrderStyle_StyleNo').empty();
                if (styleList.length > 0) {
                    $('#CostOrderStyle_StyleNo').append(
                        $('<option/>').attr('value', '').text("ALL")
                    );
                    $.each(styleList, function (style) {
                        $('#CostOrderStyle_StyleNo').append(
                            $('<option/>').attr('value', this.OrderStyleRefId).text(this.StyleNo)
                        );
                    });
                } else {
                    $('#CostOrderStyle_StyleNo').append(
                        $('<option/>').attr('value', '').text("No Order Found")
                    );
                }
            });
        });

        $('#Copy_CostOrderStyle_Order_ID').unbind('change').bind('change', function () {
            var orderNo = $(this).val();
            $.Ajax({
                url: '/Inventory/StyleShipment/GetStyleByOrderNo/',
                data: { orderNo: orderNo }
            }).done(function (styleList) {
                $('#Copy_CostOrderStyle_StyleNo_ID').empty();
                if (styleList.length > 0) {
                    $('#Copy_CostOrderStyle_StyleNo_ID').append(
                        $('<option/>').attr('value', '').text("-Select Style-")
                    );
                    $.each(styleList, function (style) {
                        $('#Copy_CostOrderStyle_StyleNo_ID').append(
                            $('<option/>').attr('value', this.OrderStyleRefId).text(this.StyleNo)
                        );
                    });
                } else {
                    $('#Copy_CostOrderStyle_StyleNo_ID').append(
                        $('<option/>').attr('value', '').text("No Order Found")
                    );
                }
            });
        });
        function removeDependentDropdown() {

            $('.CostOrderStyle_Order').empty();
            $('#CostOrderStyle_StyleNo').empty();
            $('#Copy_CostOrderStyle_StyleNo_ID').empty();

        }

        function tnAReport(reportType) {
            var orderStyleRefId = $('#CostOrderStyle_StyleNo').val();
            var searchurl = '/Planning/TimeAndAction/TnAReport?orderStyleRefId=' + orderStyleRefId+"&reportType="+reportType;
            window.open(searchurl);
        }

        function tnAReportDetail(reportType) {

            var form = $('.TimeAndActionSearchForm');
            var data = form.serialize();
            var searchurl = '/Planning/TimeAndAction/TnAReportOutput?'+data;
            window.open(searchurl);
        }


        $('.searchEnterKeyAction').autocomplete({
            source: function (request, response) {

                var option = {
                    url: "/TimeAndAction/GetTnaActivity",
                    type: "GET",
                    data: { searchString:  request.term},
                };

                $.Ajax(option)
                    .done(function (data) {
                        response($.map(data, function (activity) {
                            return { label: activity, value: activity };
                        }));
                    });
            }
        });

        $('.tnaResponsible').autocomplete({
            source: function (request, response) {
                var key = $(this).attr("data");
                var option = {
                    url: "/TimeAndAction/GetTnaResponsible",
                    type: "GET",
                    data: { searchString:  request.term},
                };

                $.Ajax(option)
                    .done(function (data) {
                        response($.map(data, function (activity) {
                            return { label: activity, value: activity };
                        }));
                    });
            }
        });
    </script>
}

