@model SCERP.Web.Areas.Production.Models.ProductionReportViewModel
@{
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";   
}
<div class="header-title">
    <h2>Cutting Production</h2>
</div>

<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        @using (Html.BeginForm("CuttingProductionSummary", "ProductionReport", FormMethod.Get, new {@class = "IndexSearchForm ignore-validation"}))
        {
            @Html.HiddenFor(x => x.IsSearch)
            <table >
                <tr>
                    <td>
                        @Html.Label("Buyer :")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.CuttingBatch.BuyerRefId, Model.BuyerSelectListItem, "-Select-", new {@class = "CuttingBatch_buyerRefId"})
                    </td>
                    <td>
                        @Html.Label("*", new {@class = "labelInstruction"})
                    </td>

                    <td>
                        @Html.DisplayName("Order No:")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.CuttingBatch.OrderNo, Model.OrderSelectListItem, new {@class = "CuttingBatch_OrderNo"})
                    </td>
                    <td>
                        @Html.Label("*", new {@class = "labelInstruction"})
                    </td>

                    <td>
                        @Html.DisplayName("Style No:")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.CuttingBatch.OrderStyleRefId, Model.StylesSelectListItem, new {@class = "CuttingBatch_StyleNo"})
                    </td>
                    <td>
                        @Html.Label("*", new {@class = "labelInstruction"})
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Sequence :")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.CuttingBatch.ComponentRefId, Model.ComponentSelectListItem, "-Select-", new {@class = "CuttingBatch_sequence"})
                    </td>
                    <td>
                        @Html.Label("*", new {@class = "labelInstruction"})
                    </td>

                    <td>
                        @Html.Label("Date :")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.CuttingBatch.CuttingDate, new {@class = "datepicker"})
                    </td>
                    <td>
                        @Html.Label("*", new {@class = "labelInstruction"})
                    </td>

                    <td></td>
                    <td>
                        <input type="button" class="showRdlcReport buttonStyle addButton" action="/Production/ProductionReport/CuttingProductionDetail/" value="CUTT DETAIL" />
                        <input type="button" class="showRdlcReport buttonStyle addButton" action="/Production/ProductionReport/CuttingProductionSummary/" value="CUTT SUMMARY"/>
                    </td>
                </tr>
            </table>
        }

    </div>
    <div class="custom-iframe-wrapper">
        <iframe id="reportIfram" width="98%" height="400"></iframe>
    </div>
</section>


@section scripts
{

    <script type="text/javascript">
    
        $('.showRdlcReport').unbind('click').bind('click', function () {
            var form = $(this).parents('form:first');
            var url = $(this).attr('action');
            var data = form.serialize();
            var searchurl = url + '?' + data;
            $('#reportIfram').attr('src', '');
            $('#reportIfram').attr('src', searchurl);
        });

        $('.CuttingBatch_buyerRefId').unbind('change').bind('change', function () {
            var buyerRefId = $(this).val();
            $.Ajax({
                url: '/JobCard/GetOrderByBuyer/',
                data: { buyerRefId: buyerRefId }
            }).done(function (orderList) {

                removeDependentDropdown();
                if (orderList.length > 0) {
                    populateDropDown({ OrderNo: "", RefNo: "Select" });
                    $.each(orderList, function (order) {
                        populateDropDown({ OrderNo: this.OrderNo, RefNo: this.RefNo });
                    });
                } else {
                    populateDropDown({ RefNo: "No Order Found", OrderNo: "" });
                }
            });
        });

        function removeDependentDropdown() {
            $('.CuttingBatch_OrderNo').empty();
            $('.CuttingBatch_StyleNo').empty();
            $('.CuttingBatch_sequence').empty();
        }

        function populateDropDown(obj) {
            $('.CuttingBatch_OrderNo').append(
                $('<option/>')
                    .attr('value', obj.OrderNo)
                    .text(obj.RefNo)
            );
        }

        $('.CuttingBatch_OrderNo').unbind('change').bind('change', function () {
            var orderNo = $(this).val();
            $.Ajax({
                url: '/JobCard/GetStyleByOrderNo/',
                data: { orderNo: orderNo }
            }).done(function (styleList) {
                $('.CuttingBatch_StyleNo').empty();
                if (styleList.length > 0) {
                    $('.CuttingBatch_StyleNo').append(
                        $('<option/>')
                            .attr('value', '')
                            .text("Select")
                    );
                    $.each(styleList, function (style) {
                        $('.CuttingBatch_StyleNo').append(
                            $('<option/>')
                                .attr('value', this.OrderStyleRefId)
                                .text(this.StyleNo)
                        );
                    });
                } else {
                    $('.CuttingBatch_StyleNo').append(
                        $('<option/>')
                            .attr('value', '')
                            .text("No Order Found")
                    );
                }
            });
        });

        $('.CuttingBatch_StyleNo').unbind('change').bind('change', function () {
            var orderStyleRefId = $(this).val();
            var orderNo = $('#CuttingBatch_OrderNo').val();
            var buyerRefId = $('#CuttingBatch_buyerRefId').val();
            $.Ajax({
                url: '/ProductionReport/GetCuttingSequenceOrderStyle/',
                data: { buyerRefId: buyerRefId, orderNo: orderNo, orderStyleRefId: orderStyleRefId }
            }).done(function (model) {
                $('.CuttingBatch_sequence').empty();
                $('.CuttingBatch_SizeRefId').empty();
                if (model.sequenceList.length > 0) {
                    $('.CuttingBatch_sequence').append(
                        $('<option/>')
                            .attr('value', '')
                            .text("Select")
                    );
                    $.each(model.sequenceList, function (sequence) {
                        $('.CuttingBatch_sequence').append(
                            $('<option/>')
                                .attr('value', this.ComponentRefId)
                                .text(this.ComponentName)
                        );
                    });

                } else {
                    $('.CuttingBatch_sequence').append(
                        $('<option/>')
                            .attr('value', "No Order Found")
                            .text("Select")
                    );
                }
            });
        });
    </script>
}