@model IEnumerable<SCERP.Model.Entitlement>

@{
    ViewBag.Title = "Create";
    var count = 0;
    Layout = null; 
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
    
        <input type="hidden" class="modelcount" value="@Model.Count()" />

        <table class="tabefont">
            <tr></tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.CheckBoxFor(modelItem => item.IsActive, new { id = "CheckBox-" + count, @checked = "unchecked" })
                    </td>

                    <td style="display:none;">
                        @Html.HiddenFor(modelItem => item.Id, new { @class = "TestClass" + count })
                    </td>
                </tr>

                count++;
            }
            <tr>
                <td height="20px"></td>
            </tr>
        </table>

        <div class="form-group">
            <div>
                <input type="button" value="Save" class="document-save" />
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    InitializeEntitlements();       
</script>