@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeEntitlementInfoViewModel 

@{
    ViewBag.Title = (Model.Id > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}

@using (Html.BeginForm("Save", "EmployeeEntitlement", FormMethod.Post, new { @class = "EmployeeEntitlementform" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    
    <fieldset>
        <legend>Benefit Information</legend>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="4">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td class="fieldTitleCls">Benefit:</td>
                <td>
                    @Html.DropDownListFor(x => x.EntitlementId, Model.EntitlementSelectListItem, "--Select--")
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.EntitlementId)
                </td>
            </tr>
            
            <tr>
                <td class="fieldTitleCls">From:</td>
                <td>                    
                    @Html.TextBoxFor(x => x.FromDate, new { @class = "datepicker", @data_val = "false", @placeholder = "From date" })
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.FromDate)
                </td>
            </tr>
            <tr>
                <td class="fieldTitleCls">To:</td>
                <td>               
                    @Html.TextBoxFor(x => x.ToDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To date" })
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>          
            <tr>
                <td></td>
                <td>
                    @Html.Button("Save", "button", new Dictionary<string, object> { { "class", "addButton innerTabSaveButton" }, { "TargentClass", "EmployeeEntitlementDetailContainner" } })
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}


