@model SCERP.Model.Country

@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    ViewBag.Title = (Model.Id > 0) ? "Edit" : "Add";
}


@using (Html.BeginForm("Save", "Countries", FormMethod.Post, new { @class = "countriesform" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <fieldset>
        <legend>Country</legend>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="4">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td></td>
                <td class="fieldTitleCls">Country Name:</td>
                <td>
                    @Html.TextBoxFor(model => model.CountryName)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CountryName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="fieldTitleCls">Country Name (In Bengali):</td>
                <td>
                    @Html.TextBoxFor(model => model.CountryNameInBengali)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CountryNameInBengali)
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="fieldTitleCls">Country Code:</td>
                <td>
                    @Html.TextBoxFor(model => model.CountryCode)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CountryCode)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </fieldset>

}


