@using SCERP.Common
@model SCERP.Web.Areas.Merchandising.Models.ViewModel.AgentViewModel
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="header-title">
    <h2>Agent information</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        
        @using (Html.BeginForm("Index", "Agent", FormMethod.Get, new {@class = "AgentSearchForm submit-allow"}))
        {
            @Html.HiddenFor(x => x.IsSearch)
            <table class="tabefont">

                <tr>
                    <td>
                        @Html.Label("Criteria")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchString, new {@data_val = "false", @placeholder = "Search key"})
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        }

    </div>
</section>

<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/Merchandising/Agent/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.Agents, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                    grid.Columns(
                        grid.Column("AgentRefId", header: "Ref ID"),
                        grid.Column("AgentName", header: "Agent Name"),
                        grid.Column("AType", header: "Agent Type", format: @<text>@(Model.GetAgentYepeName(item.AType))</text>),
                        grid.Column("Phone", header: "Phone"),
                        grid.Column("Fax", header: "Fax"),
                        grid.Column("EMail", header: "Email"),
                        grid.Column("Detail/Edit", canSort: false, format: @<text><button class="edit" action="/Merchandising/Agent/Edit?AgentId=@item.AgentId"></button></text>),
                        grid.Column("Delete", canSort: false, format:@<text><button class="delete" action="/Merchandising/Agent/Delete?AgentRefId=@item.AgentRefId"></button></text>)));
        }
    </div>
</section>





