@using System.Data
@model SCERP.Web.Areas.MIS.Models.ViewModel.MisDashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
@section styles
{
    <link href="~/Content/Common/SingleDropdownMenu.css" rel="stylesheet" />
}
<div class="header-title">
    <h2>BUYER ORDER STATUS DETAIL</h2>
</div>
<section class="formCover">
    <div class="top-categories-section">
        <div class="top-categories-wrapper">
            @using (Html.BeginForm("BuyerOrderMaster", "MisDashboard", FormMethod.Get, new { @class = "taskForm ignore-validation" }))
            {
                @Html.HiddenFor(x => x.IsSearch)

                <table class="tabefont">
                    <tr>
                        <td>
                            @Html.Label("Buyer :")
                        </td>
                        <td>
                            @Html.DropDownListFor(x => x.BuyerRefId, Model.BuyerSelectListItem, "-ALL-", new { @class = "timeAndAction_buyerRefId", style = "width: 150px;" })
                        </td>
                        <td>
                            @Html.Label("*", new { @class = "labelInstruction" })
                        </td>
                        <td>
                            @Html.DisplayName("Order No:")
                        </td>
                        <td>
                            @Html.DropDownListFor(x => x.OrderNo, Model.OrderSelectListItem, "-ALL-", new { @class = "timeAndAction_OrderNo", style = "width: 150px;" })
                        </td>
                        <td>
                            @Html.Label("*", new { @class = "labelInstruction" })
                        </td>
                        <td>
                            @Html.DisplayName("Style No:")
                        </td>
                        <td>
                            @Html.DropDownListFor(x => x.OrderStyleRefId, Model.StylesSelectListItem, "-ALL-", new { id = "shipStyleRefId", @class = "timeAndAction_StyleNo", style = "width: 150px;" })
                        </td>
                        <td>
                            @Html.Label("*", new { @class = "labelInstruction" })
                        </td>

                        @*<td> <input type="button" class="searchAction" /></td>*@
                        <td>
                            <div class="dropdown" style="float: right; margin-bottom: 10px;">
                                <button class="dropbtn">REPORT▼</button>
                                <div class="dropdown-content" style="right: 0;top: 100%;">
                                    <a style="cursor: pointer"  onclick="shipmentAlertReport(this)">Shipment Status</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                </table>

            }
        </div>
    </div>

    @*<div style="overflow-x:auto">
        <table class="webgrid-table" style="text-align: center;display: -moz-grid-group;">
            <thead class="webgrid-header mis-header">
                <tr>
                    @foreach (DataColumn col in Model.BuyerOrderMasterDataTable.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.BuyerOrderMasterDataTable.Rows)
            {
                    <tr>
                        @foreach (DataColumn col in Model.BuyerOrderMasterDataTable.Columns)
                        {

                            <td>
                                <a style="color: purple; cursor: pointer" class="AjaxPopup" action="/MIS/MisDashboard/BuyerOrderMasterAjaxPopup?refid=@row["Ref"]&&columnName=@col.ColumnName">@row[col.ColumnName]</a>
                            </td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>*@
</section>

@section scripts
{
    <script type="text/javascript">
        
        function shipmentAlertReport(obj) {
            var form = $(obj).parents('form:first');
            var data = form.serialize();
            var searchurl = '/Merchandising/Report/ShipmentAlert?' + data;
            window.open(searchurl);
        }

        $('.timeAndAction_buyerRefId').unbind('change').bind('change', function () {
            var buyerRefId = $(this).val();
            $.Ajax({
                url: '/Inventory/StyleShipment/GetOrderByBuyer/',
                data: { buyerRefId: buyerRefId }
            }).done(function (orderList) {
                $('.timeAndAction_OrderNo').empty();
                $('.timeAndAction_StyleNo').empty();
                if (orderList.length > 0) {
                    populateDropDown({ OrderNo: "", RefNo: "-ALL-" });
                    $.each(orderList, function (order) {
                        populateDropDown({ OrderNo: this.OrderNo, RefNo: this.RefNo });
                    });
                } else {
                    populateDropDown({ RefNo: "No Order Found", OrderNo: "" });
                }
            });
        });


        function populateDropDown(obj) {
            $('.timeAndAction_OrderNo').append(
                $('<option/>').attr('value', obj.OrderNo).text(obj.RefNo)
            );
        }

        $('.timeAndAction_OrderNo').unbind('change').bind('change', function () {
            var orderNo = $(this).val();
            $.Ajax({
                url: '/Inventory/StyleShipment/GetStyleByOrderNo/',
                data: { orderNo: orderNo }
            }).done(function (styleList) {
                $('.timeAndAction_StyleNo').empty();
                if (styleList.length > 0) {
                    $('.timeAndAction_StyleNo').append(
                        $('<option/>').attr('value', '').text("-ALL-")
                    );
                    $.each(styleList, function (style) {
                        $('.timeAndAction_StyleNo').append(
                            $('<option/>').attr('value', this.OrderStyleRefId).text(this.StyleNo)
                        );
                    });
                } else {
                    $('.timeAndAction_StyleNo').append(
                        $('<option/>').attr('value', '').text("No Order Found")
                    );
                }
            });
        });

        function removeDependentDropdown() {

            $('.timeAndAction_OrderNo').empty();
            $('.timeAndAction_StyleNo').empty();
        }
    </script>
}