@using System.Data
@model SCERP.Web.Areas.MIS.Models.ViewModel.MisDashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var buyerName1 = "";
    var buyerName2 = "";
}
<div class="header-title">
    <h2>COMMERCIAL IMPORT EXPORT</h2>
</div>

<section class="formCover">
    <div class="mis-title">BUYER WISE MONTHLY COMMERCIAL IMPORT EXPORT</div>
    <div>
        BB LC :<input checked="checked" type="checkbox" class="showHide" value="1"/>&nbsp;
        Shipment :<input checked="checked" type="checkbox" class="showHide" value="2"/>&nbsp;
        REALIZATION :<input checked="checked" type="checkbox" class="showHide" value="3"/>
    </div>
    <table class="webgrid-table" style="text-align: center">
        <thead class="webgrid-header mis-header">
            <tr>
                @foreach (DataColumn col in Model.SummaryDataTable.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody style="border: 1px solid #012b52;">
        @foreach (System.Data.DataRow row in Model.SummaryDataTable.Rows)
        {
            <tr >

                @{

            buyerName2 = row.ItemArray[0].ToString();
            if (buyerName1 == buyerName2)
            {
                <td class="tr_@row.ItemArray[1]" style="border-top: none; border-bottom: none;"></td>

            }
            else
            {
                buyerName1 = buyerName2;
                <td class="tr_@row.ItemArray[1]" style="border-bottom: none">@buyerName2</td>
            }
            switch (row.ItemArray[1].ToString())
            {
                case "0":
                            <td class="tr_@row.ItemArray[1]">LC</td>
                            break;
                        case "1":
                        <td class="tr_@row.ItemArray[1]">BBLC</td>
                            break;
                        case "2":
                        <td class="tr_@row.ItemArray[1]">SHIPMENT</td>
                            break;
                        case "3":
                        <td class="tr_@row.ItemArray[1]">REALIZATION</td>
                            break;
                    }
                    for (int i = 2; i < row.ItemArray.Length; i++)
                    {
                        switch (row.ItemArray[1].ToString())
                        {
                            case "0":
                                <td class="tr_@row.ItemArray[1]">@(row.ItemArray[i].ToString()=="0"?"":row.ItemArray[i].ToString())</td>
                                break;
                            case "1":
                            <td class="tr_@row.ItemArray[1]">@(row.ItemArray[i].ToString()=="0"?"":row.ItemArray[i].ToString())</td>
                                break;
                            case "2":
                            <td class="tr_@row.ItemArray[1]" >@(row.ItemArray[i].ToString()=="0"?"":row.ItemArray[i].ToString())</td>
                                break;
                            case "3":
                            <td class="tr_@row.ItemArray[1]">@(row.ItemArray[i].ToString()=="0"?"":row.ItemArray[i].ToString())</td>
                                break;


                        }

                    }

}
            </tr>
        }
        </tbody>
    </table>

</section>

<script type="text/javascript">

    $('.showHide:checkbox').change(function () {
        var value = $(this).val();
        if (this.checked) {
            $('.tr_' + value).toggle();
        } else {
         
            $('.tr_' + value).toggle();
        }
    });


</script>