@using SCERP.Common
@model SCERP.Web.Areas.Production.Models.BatchViewModel
@{
    ViewBag.Title = "Batch";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
@using (Html.BeginForm("Index", "KnittingBatch", FormMethod.Get, new { @class = "KnittingBatchForm" }))
{
    @Html.HiddenFor(x => x.IsSearch)
    <div style="width:500px; padding-left:340px;">
        <h3>Knitting Roll List</h3>
    </div>
    <section class="search formCover" style="margin-bottom: 8px;">
        <div style="background-color: #46B9AF; ">
            <div style="margin-left: 160px;margin-bottom:15px">
                <table class="tabefont">
                    <tr>
                        <td>@Html.Label("From")</td>
                        <td>
                            @Html.EditorFor(x => x.FromDate, new { htmlAttributes = new { @data_val = "false", @placeholder = "Date", @style = "width:100px;" } })
                        </td>
                        <td>@Html.Label("To")</td>
                        <td>
                            @Html.EditorFor(x => x.ToDate, new { htmlAttributes = new { @data_val = "false", @placeholder = "Date", @style = "width:100px;", @class = "searchEnterKeyAction" } })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.SearchString, new { @data_val = "false", @placeholder = "Search key" })
                        </td>
                        <td>
                            <input type="button" class="searchAction" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
}
<section class="search formCover">
    <div class="additem">
        <div style="margin-bottom: 3px;">
            <button class="AjaxPopup" action="/Production/KnittingBatch/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.VProBatches, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            tableStyle: "webgrid-table webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            firstText: "First",
            lastText: "Last",
            nextText: "Next",
            mode: WebGridPagerModes.All,
            previousText: "Previous",
            columns:
            grid.Columns(
            grid.Column("BtRefNo", header: "RollRef"),
            grid.Column("BatchNo", header: "Roll"),
            grid.Column("BatchDate", header: "Date", format: @<text>@(item.BatchDate == null ? "" : item.BatchDate.ToString("dd-MM-yyyy"))</text>),
            grid.Column("PartyName", header: "Party "),
            grid.Column("MachineName", header: "Machine"),
            grid.Column("GSizeName", header: "M/CDIA"),
            grid.Column("ItemName", header: "FabrcType"),
            grid.Column("GSM", header: "GSM"),
            grid.Column("GColorName", header: "FabColor"),
            grid.Column("FSizeName", header: "FinishDIA"),
            grid.Column("BatchQty", header: "FabQty"),
            grid.Column("BatchStatus", header: "Status",format: @<text>@(item.BatchStatus == 1 ? "R" : "C")</text>),
            grid.Column("Detail/Edit",canSort:false,format:@<text><button class="edit" action="/Production/KnittingBatch/Edit?BatchId=@item.BatchId"></button></text>)));
        }
    </div>
</section>

