
@model SCERP.Web.Areas.Inventory.Models.ViewModels.ReceiveAgainstPoViewModel
@{
    Layout = null;
}

@foreach (var m in Model.Dictionary)
{
    <tr id="newRow-@Model.Dictionary[m.Key].ColorRefId">
        <td>
            @Html.HiddenFor(x => x.Dictionary[m.Key].MaterialReceiveAgstPoId)
            @Html.HiddenFor(x => x.Dictionary[m.Key].MaterialReceiveAgstPoDetailId)
            @Html.HiddenFor(x => x.Dictionary[m.Key].ItemId)
            @Html.DisplayFor(x => x.Dictionary[m.Key].ItemName)
        </td>
        <td>
            @Html.HiddenFor(x => x.Dictionary[m.Key].FColorRefId)
            @Html.DisplayFor(x => x.Dictionary[m.Key].FColorName)
        </td>
        <td>
            @Html.HiddenFor(x => x.Dictionary[m.Key].ColorRefId, new { @id = "lot_" + m.Key })
            @Html.TextBoxFor(x => x.Dictionary[m.Key].ColorName, new { @onclick = "getLot(this,'" + m.Key + "')" })
        </td>
        <td>
            @Html.HiddenFor(x => x.Dictionary[m.Key].SizeRefId)
            @Html.DisplayFor(x => x.Dictionary[m.Key].SizeName)
        </td>
      
        <td>
            @Html.TextBoxFor(x => x.Dictionary[m.Key].ReceivedRate, new { @style = "width: 60px;" })
        </td>
    
        <td>
            @Html.TextBoxFor(x => x.Dictionary[m.Key].ReceivedQty,new{@style="width: 60px;"})
          
        </td>
        <td>
            <input type="button" value="-" onclick="deleteRow(this)" />
        </td>
    </tr>
}