@using SCERP.Common
@model SCERP.Model.Custom.BranchViewModel

@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var displayStyle = (Model.Branches.Count > 0) ? "" : "none";
}
<div class="header-title">
    <h2>Branch Information</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">


        @using (Html.BeginForm("Index", "Branch", FormMethod.Get, new { @class = "BranchSearchForm  ignore-validation" }))
        {
            @Html.HiddenFor(x => x.IsSearch)

            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Company: ")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.SearchByCompany, Model.CompanySelectListItem, "--Select--")
                    </td>
                    <td>
                        &nbsp;
                    </td>
             
                    <td>
                        @Html.Label("Branch: ")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchByBranchName)
                    </td>
                    <td>
                        <input type="button" class="searchAction" />
                    </td>
                </tr>

            </table>

        }

    </div>
</section>

<section class="search formCover">
    <div class="additem">
        <div style="margin-bottom: 3px;">
            <button class="AjaxPopup addButton" action="/HRM/Branch/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.Branches, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            tableStyle: "webgrid-table webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            firstText: "First",
            lastText: "Last",
            nextText: "Next",
            mode: WebGridPagerModes.All,
            previousText: "Previous",
            columns:
                grid.Columns(
                grid.Column("Name", header: "Branch"),
                grid.Column("Company.Name", header: "Company Name"),
                grid.Column("FullAddress", header: "Address", canSort: false),
                grid.Column("PoliceStation.Name", header: "Police Station", format: @<text>@(item.PoliceStation == null ? "" : item.PoliceStation.Name)</text>, canSort: false),
                grid.Column("District.Name", header: "District", format: @<text>@(item.District == null ? "" : item.District.Name)</text>, canSort: false),
                grid.Column("PostOffice",header:"Post Office",canSort:false),
                grid.Column("PostCode",header:"Post Code", canSort:false),
                grid.Column("Phone", canSort: false),
                grid.Column("Email", canSort: false),
                grid.Column("Fax", canSort: false),
                grid.Column("Detail/Edit", canSort:false, format:@<text><button class="edit" action="/HRM/Branch/Edit/@item.Id"></button></text>),
                grid.Column("Delete", canSort:false, format:@<text><button class="delete" action="/HRM/Branch/Delete/@item.Id"></button></text>)));
        }
    </div>

    <div class="exportReport">
        <a style="display:@displayStyle;" href="@Url.Action("GetExcel", "Branch", new {  SearchByBranchName = Model.SearchByBranchName, SearchByCompany = Model.SearchByCompany })"><img src="~/Content/images/Excel-icon.png" width="30" height="30" title="Export to Excel" /></a>
        <img style="display:@displayStyle;" class="printspecificpagereport" action="@Url.Action("Print", "Branch", new { SearchByBranchName = Model.SearchByBranchName, SearchByCompany = Model.SearchByCompany })" title="Print" src="~/Content/images/print-icon.png" />
    </div>

</section>

