@model SCERP.Web.Areas.HRM.Models.ViewModels.EfficiencyRateViewModel

@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    ViewBag.Title = (Model.EfficiencyRateId > 0) ? "Edit" : "Add";
}

@using (Html.BeginForm("Save", "EfficiencyRate", FormMethod.Post, new { @class = "EfficiencyRateform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EfficiencyRateId)

    <fieldset>
        <legend>Efficiency Rate</legend>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="4">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>

            <tr>
                <td></td>
                <td class="fieldTitleCls">Skill Operation:</td>
                <td>
                    @Html.DropDownListFor(m => m.SkillOperationId, Model.SkillOperationSelectListItem, "-Select-")
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.SkillOperationId)
                </td>
            </tr>
        
            <tr>
                <td></td>
                <td class="fieldTitleCls">Efficiency Rate:</td>
                <td>
                    @Html.TextBoxFor(model => model.Rate)
                </td>
               
            </tr>                  
            <tr>
                <td></td>
                <td class="fieldTitleCls">From Date:</td>
                <td>
                    @Html.TextBoxFor(x => x.FromDate, new { @class = "datepicker", @data_val = "false", @placeholder = "From Date" })
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m=>m.FromDate)
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="fieldTitleCls">To Date:</td>
                <td>                
                    @Html.TextBoxFor(x => x.ToDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To Date" })
                </td>
                <td colspan="1"></td>

            </tr>        
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </fieldset>

}
