@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeWorkShiftViewModel
@{
    Layout = null;
    var rowCount = 1;
}
<div>
    <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
    <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
        <thead class="reportHeader">          
            <tr class="reportTitle">
                <td colspan="15" align="center">Overtime Eligible Employee </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        </thead>
    </table>

    <div>
        <table class="pdfReportTable" border="1">
            <thead class="reportThead">
                <tr class="reportTR">
                    <td align="center">
                        <b>SL. No</b>
                    </td>
                    <td align="center">
                        <b>Employee Name</b>
                    </td>
                    <td align="center">
                        <b>Employee ID</b>
                    </td>
                    <td align="center">
                        <b>WorkShift</b>
                    </td>
                    <td align="center">
                        <b>ShiftDate</b>
                    </td>
                    <td align="center">
                        <b>Company</b>
                    </td>
                    <td align="center">
                        <b>Branch</b>
                    </td>
                    <td align="center">
                        <b>Unit</b>
                    </td>
                    <td align="center">
                        <b>Department</b>
                    </td>
                    <td align="center">
                        <b>Section</b>
                    </td>
                    <td align="center">
                        <b>Line</b>
                    </td>
                </tr>
            </thead>
            <tbody class="reportBody">

                @foreach (var employeeWorkShift in Model.EmployeeWorkShiftDetails)
                {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.EmployeeName ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.EmployeeCardId ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.WorkShiftName)
                        </td>

                        <td class="reportTD">
                            @(employeeWorkShift.ShiftDate == null ? "" : employeeWorkShift.ShiftDate.ToString("dd-MM-yyyy"))
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.CompanyName ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.BranchName ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.UnitName ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.DepartmentName ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.SectionName ?? "")
                        </td>
                        <td class="reportTD">
                            @(employeeWorkShift.LineName ?? "- - -")
                        </td>
                    </tr>
                    rowCount += 1;
                }

            </tbody>

        </table>
    </div>
</div>






