@using SCERP.Common
@model SCERP.Web.Areas.Payroll.Models.ViewModels.ReportSearchViewModel

@{
    ViewBag.Title = "Salary Sheet Report";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("EmployeeBonusSheet", "Report", FormMethod.Get, new { @class = "ReportSearchForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="width: 500px; padding-left: 340px;">
        <h3>Employee Bonus Sheet</h3>
    </div>

    <section class="search formCover" style="margin-bottom: 3px;">

        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="3">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Company :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @class = "SearchByCompanyId", @action = "/Payroll/Report/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" })
                    @Html.Label("*", new { @class = "labelInstruction" })

                </td>
                <td>
                    @Html.Label("Branch :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @class = "SearchByBranchId", @action = "/Payroll/Report/GetAllBranchUnitByBranchId", @TargetClass = "SearchByBranchUnitId" })
                    @Html.Label("*", new { @class = "labelInstruction" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Unit :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.BranchUnitSelectListItem, "--Select--", new { @class = "SearchByBranchUnitId", @action = "/Payroll/Report/GetAllBranchUnitDepartmentByBranchUnitId", @TargetClass = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine"})
                    @Html.Label("*", new { @class = "labelInstruction" })

                </td>
                <td>
                    @Html.Label("Department :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitDepartmentId, Model.BranchUnitDepartmentSelectListItem, "--Select--", new {@data_val=false, @class = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine", @action = "/Payroll/Report/GetDepartmentSectionAndLineByBranchUnitDepartmentId", @TargetClass = "Hrm_DepartmentSection", @OtherTargetClass = "Hrm_DepartmentLine"})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Section: ")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentSectionId, Model.DepartmentSectionSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentSection" } })
                <td>
                    @Html.Label("Line: ")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentLineId, Model.DepartmentLineSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentLine" } })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Employee ID:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.EmployeeCardId, new { htmlAttributes = new { @class = "CardId" } })
                </td>
                <td>
                    @Html.Label("Employee Type:")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByEmployeeTypeId, Model.EmployeeTypeSelectListItems, "-Select-")
                    @Html.Label("*", new { @class = "labelInstruction" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Bonus Date")
                </td>
                <td>
                    @*@Html.EditorFor(x => x.FromDate, new { htmlAttributes = new { @class = "EffectiveDate" } })*@
                    @Html.TextBoxFor(x => x.FromDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    <input type="button" id="showReport" value="Generate Sheet" />
                </td>
                <td>
                   &nbsp;
                </td>
            </tr>
        </table>
    </section>
}

<script type="text/javascript">
    $('#showReport').click(function () {

        var form = $(this).parents("form:first");

        var ignoreValidation = form.hasClass("ignore-validation");
        if (!ignoreValidation) {
            if (jQuery.validator && jQuery.validator.unobtrusive) {
                form.validate();
                if (!form.valid()) {

                    return false;
                }
                ShowReport();
            }
        }
    });

    function ShowReport() {
        var cardId = $('#EmployeeCardId').val();
        var effectiveDate = $('#FromDate').val();
        var companyId = $('.SearchByCompanyId').val();
        var branchId = $('.SearchByBranchId').val();
        var branchUnitId = $('.SearchByBranchUnitId').val();
        var branchUnitDepartmentId = $('.Hrm_BranchUnitDepartmentForDepartmentSectionAndLine').val();
        var sectionId = $('.Hrm_DepartmentSection').val();
        var lineId = $('.Hrm_DepartmentLine').val();
        var employeeTypeId = $('#SearchFieldModel_SearchByEmployeeTypeId').val();
        
        window.open('@Url.Action("EmployeeBonusSheet", "Report")?cardId=' + cardId + '&companyId=' + companyId + '&branchId=' + branchId + '&branchUnitId=' + branchUnitId + '&branchUnitDepartmentId=' + branchUnitDepartmentId + '&sectionId=' + sectionId + '&lineId=' + lineId + '&employeeTypeId=' + employeeTypeId + '&effectiveDate=' + effectiveDate, '_blank');
    }
</script>