@using SCERP.Common
@model SCERP.Web.Areas.Payroll.Models.ViewModels.ReportSearchViewModel

@{
    ViewBag.Title = "Salary Increment for Worker(Summary)";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("SalaryIncrementSummaryForWorker", "Report", FormMethod.Get, new { @class = "ReportSearchForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="width: 500px; padding-left: 340px;">
        <h3> Salary Increment for Worker(Summary) </h3>
    </div>

    <section class="search formCover" style="margin-bottom: 3px;">
        <table class="tabefont">
            <tr>
                <td> @Html.Label("Company :") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @data_val = false, @class = "SearchByCompanyId", @action = "/HRM/EmployeeDailyAttendance/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" }) </td>
                <td width="30px"> </td>
                <td> @Html.Label("Branch :") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @data_val = false, @class = "SearchByBranchId", @action = "/HRM/EmployeeDailyAttendance/GetAllBranchUnitByBranchId", @TargetClass = "Hrm_BranchUnitIdForDepartmentAndWorkShift" }) </td>
            </tr>

            <tr>
                <td> @Html.Label("Unit :") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.BranchUnitSelectListItem, "--Select--", new { @data_val = false, @class = "Hrm_BranchUnitIdForDepartmentAndWorkShift", @action = "/HRM/EmployeeDailyAttendance/GetAllBranchUnitDepartmentAndWorkShiftByBranchUnitId", @TargetClass = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine", @OtherTargetClass = "Hrm_BranchUnitWorkShift" }) </td>
                <td> </td>
                <td> @Html.Label("Department :") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitDepartmentId, Model.BranchUnitDepartmentSelectListItem, "--Select--", new { @data_val = false, @class = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine", @action = "/HRM/EmployeeDailyAttendance/GetDepartmentSectionAndLineByBranchUnitDepartmentId", @TargetClass = "Hrm_DepartmentSection", @OtherTargetClass = "Hrm_DepartmentLine" }) </td>
            </tr>

            <tr>
                <td> @Html.Label("Section :") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentSectionId, Model.DepartmentSectionSelectListItem, "-Select-", new { @data_val = false, @class = "Hrm_DepartmentSection" }) </td>
                <td> </td>
                <td> @Html.Label("Line :") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentLineId, Model.DepartmentLineSelectListItem, "-Select-", new { @data_val = false, @class = "Hrm_DepartmentLine" }) </td>
            </tr>

            <tr>
                <td> @Html.Label("Employee Type: ") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByEmployeeTypeId, Model.EmployeeTypeSelectListItems, "--Select--", new { @data_val = false, @class = "Hrm_EmployeeTypeId", @action = "/HRM/Report/GetAllEmployeeGradesByEmployeeTypeId", @TargetClass = "Hrm_EmployeeGradeId" }) </td>
                <td> </td>
                <td> @Html.Label("Employee Grade:") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.SearchByEmployeeGradeId, Model.EmployeeGradeSelectListItems, "--Select--", new { @data_val = false, @class = "Hrm_EmployeeGradeId", @action = "/HRM/Report/GetAllEmployeeDesignationsByEmployeeGradeId", @TargetClass = "Hrm_EmployeeDesignationId" }) </td>
            </tr>

            <tr>
                <td> @Html.Label("From Date: ") </td>
                <td> @Html.TextBoxFor(x => x.FromDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" }) </td>
                <td> </td>
                <td> @Html.Label("To Date: ") </td>
                <td> @Html.TextBoxFor(x => x.ToDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" }) </td>
            </tr>

            <tr>
                <td> @Html.Label("Employee Card Id: ") </td>
                <td> @Html.EditorFor(x => x.SearchFieldModel.SearchByEmployeeCardId, new { @class = "SearchByEmployeeCardId" }) </td>
                <td> </td>
                <td> @Html.Label("Print Format: ") </td>
                <td> @Html.DropDownListFor(x => x.SearchFieldModel.PrintFormatId, Model.PrintFormatStatusSelectListItems) </td>
            </tr>

            <tr>
                <td> @Html.Label("Increment Percentage: ") </td>
                <td> @Html.EditorFor(x => x.SearchFieldModel.IncrementPercent, new { @class = "IncrementPercent" }) </td>
                <td> </td>
                <td> @Html.Label("Increment Amount: ") </td>
                <td> @Html.EditorFor(x => x.SearchFieldModel.IncrementAmount, new { @class = "IncrementAmount" })  </td>
            </tr>

            <tr>
                <td> </td>
                <td colspan="4" align="left">
                    <input type="button" id="showReport" value="Process & Show Report" />
                </td>
            </tr>

        </table>
    </section>
}

<script type="text/javascript">

    $('#showReport').click(function(e) {
        var $form = $(this).parents('form:first');
        if (jQuery.validator && jQuery.validator.unobtrusive) {
            $form.validate();
            if (!$form.valid()) {
                return false;
            } else {
                window.open($form.attr('action') + '?' + $form.serialize());
                e.preventDefault();
            }
        }
    }
    );

</script>