@using SCERP.Common
@model SCERP.Web.Areas.Production.Models.BatchViewModel
@{
    ViewBag.Title = "Batch";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
@section styles
{
    <link href="~/Content/Common/SingleDropdownMenu.css" rel="stylesheet" />
}
@using (Html.BeginForm("BatchStatus", "Batch", FormMethod.Get, new { id = "BatchStatusForm" ,@class="ignore-validation" }))
{
    @Html.HiddenFor(x => x.IsSearch)
    <div class="header-title">
        <h2>Dyeing Batch Status</h2>
    </div>
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>@Html.Label("From")</td>
                    <td>
                        @Html.TextBoxFor(x => x.FromDate, new {@data_val = "false", @placeholder = "Date",@class="datepicker"})
                    </td>

                    <td>@Html.Label("To")</td>
                    <td>
                        @Html.TextBoxFor(x => x.ToDate, new {@data_val = "false", @placeholder = "Date",@class="datepicker"})
                    </td>

                    <td>
                        @Html.Label("Matchine")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.MachineId, Model.MachineSelectListItem, "ALL", new {@data_val = "false",})
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Party")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.PartyId, Model.PartySelectListItem, "ALL", new { @data_val = "false", })
                    </td>
                    <td></td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">REPORT▼</button>
                            <div class="dropdown-content">
                                <a style="cursor: pointer" target="_blank" onclick="BatchStatus(1)">PDF</a>
                                <a style="cursor: pointer" target="_blank" onclick="BatchStatus(3)">EXCEL</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
}


@section scripts
{

    <script type="text/javascript">
        function BatchStatus(reportType) {
            var form = $('#BatchStatusForm');
            if (jQuery.validator && jQuery.validator.unobtrusive) {
                form.validate();
                if (!form.valid()) {

                    return false;
                } else {
                    var data = form.serialize();
                    var searchurl = '/ProductionReport/DayeingBatchStatus?' + data + "&ReportType=" + reportType;
                    window.open(searchurl);
                }
            }
        }
    
    </script>

}