@model SCERP.Web.Areas.Production.Models.CuttingBatchViewModel
@{
    ViewBag.Title = Model.CuttingBatch.CuttingBatchId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
<div style="width:auto; padding-left:300px;">
    <h2>Cutting Job Card </h2>
</div>
<section class="search formCover">
        <div style="margin-left:10px;margin-bottom:5px;">
            @using (Html.BeginForm("Save", "JobCard", FormMethod.Post, new { @class = "JobCardForm ignore-validation" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.CuttingBatch.CuttingBatchId)
                <fieldset>
                    <legend>Cutting Batch</legend>
                    <div id="cuttingJobMaster">
                        <table class="tabefont">
                            <tr>
                                <td>
                                    @Html.Label("Ref Id :")
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.CuttingBatch.CuttingBatchRefId, new { @readonly = "readonly", @style = "background-color: #EEEEEE" })
                                </td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                                <td>@Html.Label("Date :")</td>
                                <td>@Html.TextBoxFor(x => x.CuttingBatch.CuttingDate, new { @class = "datepicker", @data_val = "false" })</td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Buyer :")
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.CuttingBatch.BuyerRefId, Model.BuyerSelectListItem, "-Select-", new { @class = "CuttingBatch_buyerRefId" })
                                </td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                                <td>
                                    @Html.DisplayName("Order No:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.CuttingBatch.OrderNo, Model.OrderSelectListItem, new { @class = "CuttingBatch_OrderNo" })
                                </td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayName("Style No:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.CuttingBatch.OrderStyleRefId, Model.StylesSelectListItem, new { @class = "CuttingBatch_StyleNo" })
                                </td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                                <td>
                                    @Html.Label("Color :")
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.RollCutting.ColorRefId, Model.ColorSelectListItem, new { @class = "CuttingBatch_Color" })
                                </td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Part :")
                                </td>
                                <td>

                                    @Html.DropDownListFor(x => x.PartCutting.ComponentRefId, Model.ComponentSelectListItem, "-Select-")
                                </td>
                                <td>
                                    @Html.Label("*", new { @class = "labelInstruction" })
                                </td>
                                <td>
                                    @Html.Label("Remarks :")
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.CuttingBatch.Rmks)
                                </td>
                                <td>
                                    <input type="button" class="FindPartial buttonStyle" action="/JobCard/GetCuttingJobDtl/" target="#cuttingJobCardDtlContainner" value="Find" />
                                    <input type="button" class="addButton" onclick="search('@Url.Action("Index", "JobCard", new { Area = "Production" })')" value="Back" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> Fabric </legend>
                    <div id="cuttingJobCardDtlContainner">
                        @if (Model.CuttingBatch.CuttingBatchId > 0)
                        {
                            @Html.Partial("~/Areas/Production/Views/JobCard/_CuttingJobDtl.cshtml", Model)
                        }
                    </div>
                  
                </fieldset>
            }
        </div>

</section>

@section scripts
{
    <script src="~/Scripts/SCERP/Production/cuttingJobCard.js"></script>
}
