@using SCERP.Common
@model SCERP.Web.Areas.Inventory.Models.ViewModels.MaterialReceivedViewModel
@{
    ViewBag.Title = "Material Received  List";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
<div class="header-title">
    <h2>Register Status</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        
        @using (Html.BeginForm("MaterialReceivedReport", "MaterialReceived", FormMethod.Get, new {@class = "MaterialReceivedForm ignore-validation"}))
        {
            @Html.HiddenFor(x => x.IsSearch)

            <table>
                <tr>
                    <td>
                        @Html.Label("From Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.FromDate, new {@class = "datepicker", id = "txtFromDate", @data_val = "false"})
                    </td>

                    <td>
                        @Html.Label("To Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ToDate, new {@class = "datepicker", id = "txtToDate", @data_val = "false"})
                    </td>

                    <td>
                        @Html.Label("Challan No")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.MaterialReceived.ChallanNo, new {@data_val = "false", id = "txtChallanNo", @placeholder = "Challan No"})
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Register Type")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.MaterialReceived.RegisterType, Model.RegisterTypeListItem, "ALL")
                    </td>

                    <td>
                        <input type="button" class="addButton" onclick="MaterialReceivedReport()" value="Excel" />
                    </td>
                </tr>
            </table>
        }

    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        function MaterialReceivedReport() {
            var data = $('.MaterialReceivedForm').serialize();
            var searchurl = '/Inventory/Report/GrnRegisterStatus?' + data;
            window.open(searchurl);
        }
    </script>
}
