@model IEnumerable<SCERP.Model.Inventory_MaterialRequisitionDetail>
@{
    Layout = null;
    int rowIndex = 0;
}

<table class="tabefont webgrid-table webgrid " style="width: 1024px;">
    <thead class="webgrid-header">
        <tr>
            <th>
                @Html.Label("SL No")
            </th>
            <th>
                @Html.Label("Item Name")
            </th>

            <th>
                @Html.Label("Description")
            </th>
            <th>
                @Html.Label("Size")
            </th>
            <th>
                @Html.Label("Brand")
            </th>
            <th>
                @Html.Label("Origin")
            </th>
            <th>
                @Html.Label("Qantity")
            </th>
            <th>
                @Html.Label("Unit")
            </th>

            <th>
                @Html.Label("Uses Area")
            </th>
            <th>
                @Html.Label("Desired Date")
            </th>
            <th>
                @Html.Label("Approved Qty")
            </th>
            <th>
                @Html.Label("Remarks")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            rowIndex += 1;
            <tr class="webgrid-row-style webgrid-alternating-row">
                <td>
                    @rowIndex
                </td>
                <td>
                    @material.ItemName
                </td>
                <td>
                    @material.ItemDescription

                </td>
                <td>
                    @material.Size

                </td>
                <td>
                    @material.Brand

                </td>
                <td>
                    @material.Origin

                </td>
                <td>
                    @material.RequiredQuantity

                </td>
                <td>
                    @material.MeasurementUnit

                </td>

                <td>
                    @material.FunctionalArea
                </td>
                <td>
                    @(material.DesiredDate!=null?material.DesiredDate.GetValueOrDefault().ToString("dd/MM/yyyy"):"")
                </td>
                <td>
                    @material.ApprovedQuantity
                </td>
                <td>
                    @material.Remarks
                </td>
            </tr>
        }
    </tbody>
</table>