@model SCERP.Web.Areas.Planning.Models.ViewModels.WorkingDayViewModel
@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    ViewBag.Title = " Edit Working Days";
}

@using (Html.BeginForm("Save", "WorkingDay", FormMethod.Post, new { @class = "WorkingDayform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.WorkingDay.WorkingDayId)
    <fieldset>
        <legend>Working Days</legend>
        <table class="tabefont">
            <tr>

                <td>
                    @Html.Label(" Working Day:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.WorkingDay.WorkingDate, "{0:dd/MM/yyyy}",new{@readonly="readonly",@style="background-color:pink"})
                </td>
            </tr>
            <tr>

                <td>
                    @Html.Label("Holiday Status:")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.HolidayStatus)
                </td>
            </tr>
            <tr>

                <td>
                    @Html.Label(" Remarks:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.WorkingDay.Remarks)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>

    </fieldset>
}
