@using SCERP.Common
@model SCERP.Web.Areas.Inventory.Models.ViewModels.FinishFabricIssueViewModel
@{
    ViewBag.Title = "Finish Fabric Issue";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
@section styles
{
    <link href="~/Content/Common/SingleDropdownMenu.css" rel="stylesheet" />
}

<div class="header-title">
    <h2>Finish Fabric Issue</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        
        @using (Html.BeginForm("Index", "FinishFabricIssue", FormMethod.Get, new {@class = "FinishFabricIssueForm"}))
        {
            @Html.HiddenFor(x => x.IsSearch)
            <table>
                <tr>
                    <td>
                        @Html.Label("From Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.FromDate, new {@class = "datepicker", @data_val = "false", @placeholder = "From Date"})
                    </td>
                    <td>
                        @Html.Label("To Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ToDate, new {@class = "datepicker", @data_val = "false", @placeholder = "To Date"})
                    </td>
                    <td>
                        @Html.Label("Criteria")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchString, new {@data_val = "false", @placeholder = "Search key"})
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>

                </tr>
            </table>
        }

    </div>
</section>

<section class="search formCover">
    <div class="additem" style="min-height: 700px;">
        <div class="addButton-wrapper">
            <input onclick="search('/Inventory/FinishFabricIssue/Edit')" value="Add New" class="addButton" type="button" />
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.FinishFabricIssues, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                  grid.Columns(
                  grid.Column("FinishFabIssureRefId", canSort: false, header: "IssueRefId"),
                  grid.Column("Party.Name", canSort: false, header: "Party"),
                  grid.Column("ChallanNo", canSort: false, header: "Challan No"),
                  grid.Column("ChallanDate", canSort: false, header: "Challan Date", format: @<text>@(item.ChallanDate == null ? "" : item.ChallanDate.ToString("dd-MM-yyyy"))</text>),
                  grid.Column("Remarks", canSort: false, header: "Remarks"),
                  grid.Column("Edit", canSort: false, format: @<text><input type="button" onclick="search('/Inventory/FinishFabricIssue/Edit?FinishFabricIssue.FinishFabIssueId=@item.FinishFabIssueId')" value="Edit" /></text>),
                  grid.Column("Delete", canSort: false, format:@<text><button class="delete" action="/Inventory/FinishFabricIssue/Delete?FinishFabIssueId=@item.FinishFabIssueId"></button></text>),
                  grid.Column("Report", format:@<text>
                <div class="dropdown">
                    <a class="dropbtn custom-table-dropbtn">PDF</a>
                    <div class="dropdown-content custom-table-dropdown-content">
                        <a href="/Inventory/FinishFabricIssue/DyeingBillReport?FinishFabIssueId=@item.FinishFabIssueId" target="_blank">Bill(TK)</a>
                        @if (item.PartyId == 1)
                        {
                            <a href="/Inventory/FinishFabricIssue/FinishFabricIssueReport?FinishFabIssueId=@item.FinishFabIssueId" target="_blank">Issue</a>
                        }
                        else
                        {
                            <a href="/Inventory/FinishFabricIssue/FinishFabricDeliveryReport?FinishFabIssueId=@item.FinishFabIssueId" target="_blank">Delivery</a>
                            <a href="/Inventory/FinishFabricIssue/DyeingBillDollars?FinishFabIssueId=@item.FinishFabIssueId" target="_blank">Bill($)</a>
                        }
              
                    </div>
                </div>
                </text>, canSort: false)
));
        }
    </div>

</section>





