@model SCERP.Model.Custom.EmployeeCardPrintModel

@{
    Layout = null;
}

<style type="text/css">
        .image 
        {
            position: relative;
        }

        .image .text
        {
            position: absolute;
            top: 45px;
            left: 20px;
        }
</style>

<table>
    <tr>
        <td>
            <div class="image" style="width: 192px; height: 306px;">
                <img alt="" src="~/Content/images/IdCardBack.jpg" />
                <div class="text">
                                      
                    <table style="font-size: 9px; font-family: SolaimanLipi; margin-top: 20px;" cellpadding="0px" cellspacing="0px">
                        
                        <tr><td style="padding-top: 0px; padding-left: 35px;"> @Model.CardValidity </td></tr>
                        <tr><td style="padding-top: 0px; padding-left: 20px;font-weight: bold;font-size:150%;"> @Model.CompanyName </td></tr>
                        <tr><td style="padding-top: 0px; padding-left: 20px;"> @Model.CompanyAddress1 </td></tr>
                        <tr><td style="padding-top: 0px; padding-left: 35px;"> @Model.CompanyAddress2 </td></tr>
                        <tr><td style="padding-top: 0px; padding-left: 15px;">@Model.MobileNo</td></tr>
                        <tr><td style="padding-top:0px; height: 0px;"></td></tr>
                        <tr><td style="padding-top:0px;">@Model.BloodGroup</td></tr>                             
                        <tr><td style="padding-top:0px;">@Model.FatherName</td></tr>                            
                        <tr><td style="padding-top:0px;">@Model.Village</td></tr>  
                        <tr><td style="padding-top:0px;">@Model.PostOffice</td></tr>  
                        <tr><td style="padding-top:0px;">@Model.PoliceStation</td></tr>  
                        <tr><td style="padding-top:0px;">@Model.District</td></tr>  
                        <tr><td style="padding-top:0px;">@Model.EmergencyContactNo</td></tr>  
                        <tr><td style="padding-top:0px;">@Model.NationalIdNo</td></tr>
                        <tr><td style="padding-top: 0px;">@Model.BirthCertificateNo</td></tr>                       
                        <tr><td style="padding-top: 0px; font-weight: bold; font-size: larger; ">@Model.Notice1</td></tr>
                        <tr><td style="padding-top: 0px; font-weight: bold; font-size: larger;">@Model.Notice2</td></tr>
                        <tr><td style="padding-top: 10px;">কার্ড ধারীর স্বাক্ষর :</td></tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
