@model SCERP.Web.Areas.HRM.Models.ViewModels.BranchUnitDepartmentViewModel

<section class="search formCover" style="margin-bottom: 3px;">
 
        <table class="tabefont">
            <tr>
                <td>
                    @Html.Label("Company :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @class = "Hrm_CompanyId", @action = "/HRM/BranchUnitDepartment/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" })

                </td>
                <td>
                    @Html.Label("Branch :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @class = "SearchByBranchId", @action = "/HRM/BranchUnitDepartment/GetAllBranchUnitByBranchId", @TargetClass = "SearchUnitDepartmentByBranchUnitId" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Unit :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.UnitSelectListItem, "--Select--", new { @class = "SearchUnitDepartmentByBranchUnitId", @action = "/HRM/BranchUnitDepartment/GetAllUnitDepatmeByBranchUnitId", @TargetClass = "SearchByUnitDepartmentId" })

                </td>
                <td>
                    @Html.Label("Department :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByUnitDepartmentId, Model.DepartmentSelectListItem, "--Select--", new { @class = "SearchByUnitDepartmentId" })
                </td>
                <td>
                    <input type="button" class="searchAction" />
                </td>

            </tr>
        </table>

</section>
