@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeWorkGroupViewModel
@{
    Layout = null;
}
<tr>
    <td>
        @Html.Label("Company :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @class = "SearchByCompanyId", @action = "/HRM/EmployeeWorkGroup/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" })
        &nbsp;
    </td>
    <td>
        @Html.Label("Branch :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @class = "SearchByBranchId", @action = "/HRM/EmployeeWorkGroup/GetAllBranchUnitByBranchId", @TargetClass = "Hrm_BranchUnitIdForWorkGroup" })
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        @Html.Label("Unit :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.BranchUnitSelectListItem, "--Select--", new { @class = "Hrm_BranchUnitIdForWorkGroup", @action = "/HRM/EmployeeWorkGroup/GetWorkGroupByBranchUnitId", @TargetClass = "Hrm_WorkGroupId", @OtherTargetClass = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine" })
        &nbsp;
    </td>
    <td>
        @Html.Label("Department :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitDepartmentId, Model.BranchUnitDepartmentSelectListItem, "--Select--", new { @class = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine", @action = "/HRM/EmployeeWorkGroup/GetDepartmentSectionAndLineByBranchUnitDepartmentId", @TargetClass = "Hrm_DepartmentSection", @OtherTargetClass = "Hrm_DepartmentLine" })
        &nbsp;
    </td>

</tr>
<tr>
    <td>
        @Html.Label("Section :")
    </td>
    <td>

        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentSectionId, Model.DepartmentSectionSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentSection" } })
    </td>
    <td>
        @Html.Label("Line :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentLineId, Model.DepartmentLineSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentLine" } })
    </td>

</tr>
<tr>
    <td>
        @Html.Label("Employee ID:")
    </td>
    <td>
        @Html.TextBoxFor(x => x.SearchFieldModel.SearchByEmployeeCardId)

    </td>
    <td>
        <input type="button" class="searchAction" />
    </td>
</tr>





