@using SCERP.Common
@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeWorkGroupViewModel
@{
    ViewBag.Title = "Employee WorkGroup";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";

}
@using (Html.BeginForm("Edit", "EmployeeWorkGroup", FormMethod.Get, new { @class = "EmployeeWorkGroupSearchForm ignore-validation" }))
{
    @Html.HiddenFor(x => x.IsSearch)
    <div style="width: 500px; padding-left: 340px;">
        <h3>Change Employee WorkGroup </h3>
    </div>
    <section class="search formCover" style="margin-bottom: 3px;">
            <table class="tabefont">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                @Html.Partial("~/Areas/HRM/Views/EmployeeWorkGroup/_SearchEmployeeWorkGroup.cshtml", Model)
                <tr>
                    <td>
                        @Html.Label("WorkGroup :")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByWorkGroupId, Model.WorkGroupSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_WorkGroupId" } })
                    </td>
                </tr>
            </table>
    </section>
}
<section class="search formCover">

    <div class=" additem">
        @using (Html.BeginForm("Save", "EmployeeWorkGroup", FormMethod.Post))
        {
            <fieldset>
                <legend>Employee WorkGroup</legend>
                @{
                    var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
                    grid.Bind(Model.VEmployeeWorkGroupDetails, rowCount: Model.TotalRecords, autoSortAndPage: false);
                    grid.Pager(WebGridPagerModes.All);
                    @grid.GetHtml(htmlAttributes: new {id = "grid"},
                        tableStyle: "webgrid-table webgrid",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        firstText: "First",
                        lastText: "Last",
                        nextText: "Next",
                        mode: WebGridPagerModes.All,
                        previousText: "Previous",
                        columns: grid.Columns(
                    grid.Column(header: "", format: @<text><input  name="EmployeeWorkGroupIdList" value="@item.EmployeeWorkGroupId" type="checkbox" /></text>),
                    grid.Column("EmployeeName", header: "Employee Name ", format: @<text>@(item.EmployeeName ?? "")</text>),
                    grid.Column("EmployeeCardId", header: "Employee ID ", format: @<text>@(item.EmployeeCardId ?? "")</text>),
                    grid.Column("WorkGroupName", header: "WorkGroup ", format: @<text>@(item.WorkGroupName ?? "")</text>),
                    grid.Column("AssignedDate", header: "Assigned date ", format: @<text>@(item.AssignedDate == null ? "" : item.AssignedDate.ToString("dd-MM-yyyy"))</text>),
                    grid.Column("CompanyName", header: "Company ", format: @<text>@(item.CompanyName ?? "")</text>),
                    grid.Column("BranchName", header: "Branch ", format: @<text>@(item.BranchName ?? "")</text>),
                    grid.Column("UnitName", header: "Unit ", format: @<text>@(item.UnitName ?? "")</text>),
                    grid.Column("DepartmentName", header: "Department ", format: @<text>@(item.DepartmentName ?? "")</text>),
                    grid.Column("SectionName", header: "Section ", format: @<text>@(item.SectionName ?? "- - -")</text>),
                    grid.Column("LineName", header: "Line ", format: @<text>@(item.LineName ?? "- - -")</text>)));
                }

            </fieldset>
            <fieldset>
                <legend>Target WorkGroup</legend>
                <table class="tabefont">
                    <tr>
                        <td></td>
                        <td align="left" colspan="2">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("WorkGroup :")
                        </td>
                        <td>
                            @Html.DropDownListFor(x => x.WorkGroupId, Model.WorkGroupSelectListItem, "-Select-")
                            @Html.Label("*", new { @class = "labelInstruction" })
                            @Html.ValidationMessageFor(x => x.WorkGroupId)
                        </td>
                        <td>
                            @Html.Label("Assign Date :")
                        </td>
                        <td>                           
                            @Html.TextBoxFor(x => x.Date, new { @class = "datepicker", @data_val = "false", @placeholder = "Date" })
                            @Html.Label("*", new { @class = "labelInstruction" })
                            @Html.ValidationMessageFor(x => x.Date)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td>
                            <input type="submit" @Model.SubmitButtonDisplayStyle class="SubmitButton addButton" value="Save" />
                        </td>
                        <td>
                            <input type="button" class="addButton" onclick="search('@Url.Action("Index", "EmployeeWorkGroup")','EmployeeWorkGroupSearchForm')" value="Back" />
                        </td>


                    </tr>
                </table>

            </fieldset>
        }
    </div>

</section>
@section scripts{
    <script src="~/Scripts/SCERP/webGridAllCheckBoxSelect.js"></script>
}