@model SCERP.Web.Areas.Planning.Models.ViewModels.ProductionLineViewModel
@{
    Layout = null;
    var rowCount = 1;
}
<div>
    <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
    <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
        <thead class="reportHeader">
            <tr class="reportTitle">
                <td colspan="15" align="center">Production line</td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        </thead>
    </table>

    <div>
        <table class="pdfReportTable" border="1">
            <thead class="reportThead">
                <tr class="reportTR">
                    <td align="center">
                        <b>SL. No</b>
                    </td>
                    <td align="center">
                        <b>Company</b>
                    </td>
                    <td align="center">
                        <b>Branch</b>

                    </td>

                    <td  align="center">
                        <b>Unit</b>

                    </td>
                    <td align="center">
                        <b>Department</b>

                    </td>
                    <td align="center">
                        <b>Line</b>

                    </td>
                </tr>
            </thead>
            <tbody class="reportBody">

                @foreach (var productionLine in Model.ProductionLines)
                {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                        <td class="reportTD">
                            @(productionLine.BranchUnitDepartment.BranchUnit.Branch.Company == null ? "" : @productionLine.BranchUnitDepartment.BranchUnit.Branch.Company.Name)
                        </td>
                        <td class="reportTD">
                            @(@productionLine.BranchUnitDepartment.BranchUnit.Branch == null ? "" : @productionLine.BranchUnitDepartment.BranchUnit.Branch.Name)
                        </td>
                        <td class="reportTD">
                            @(@productionLine.BranchUnitDepartment.UnitDepartment.Unit == null ? "" : @productionLine.BranchUnitDepartment.UnitDepartment.Unit.Name)
                        </td>
                        <td class="reportTD">
                            @(@productionLine.BranchUnitDepartment.UnitDepartment.Department == null ? "" : @productionLine.BranchUnitDepartment.UnitDepartment.Department.Name)
                        </td>
                        <td class="reportTD">
                            @(@productionLine.Line == null ? "" : @productionLine.Line.Name)
                        </td>
                    </tr>
                    rowCount += 1;
                }

            </tbody>

        </table>
    </div>
</div>




