@using System.Data.SqlClient
@model SCERP.Web.Areas.Planning.Models.ViewModels.ProgramViewModel
@{
    Layout = null;
}

<fieldset>
    <legend>Input  Yarn</legend>

    <table id="tableInputDetail">
        <tr>
            <td>
                @Html.Label("", "Yarn")
            </td>
            <td>

                @Html.TextBoxFor(x => x.InputProgramDetail.ItemName, new { @placeholder = "Yarn", id = "YarnItemName", @class = "itemautocompliteItem", @data_target = "#yarnItemCode", @action = "/Consumption/AutocompliteItem", @readonly = "readonly" })
                @Html.HiddenFor(x => x.InputProgramDetail.ItemCode, new { id = "yarnItemCode" })

            </td>
            <td>
                @Html.Label("", "Count")
            </td>
            <td>
                @Html.TextBoxFor(x => x.InputProgramDetail.SizeName, new { @placeholder = "Count", id = "yarnCountSizeName", @class = "autocompliteSizeSerach", @data_target = "#yarnCountSizeRefId", @action = "/BuyerOrderColorSize/SizeAutoComplite?typeId=05", @readonly = "readonly" })
                @Html.HiddenFor(x => x.InputProgramDetail.SizeRefId, new { id = "yarnCountSizeRefId" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("", "Color")
            </td>
            <td>
                @Html.TextBoxFor(x => x.InputProgramDetail.ColorName, new { @placeholder = "Color", id = "yarnColorName", @class = "autocompliteColorSerach", @data_target = "#yarnColorRefId", @action = "/BuyerOrderColorSize/ColorAutoComplite?typeId=01", @readonly = "readonly" })
                @Html.HiddenFor(x => x.InputProgramDetail.ColorRefId, new { id = "yarnColorRefId" })
            </td>
            <td>
                @Html.Label("", "Lot")
            </td>
            <td>
                @Html.TextBoxFor(x => x.InputProgramDetail.LotName, new { @placeholder = "Lot No", id = "yarnLotName", @class = "autocompliteColorWithBrandSerach", @data_target = "#yarnLotRefId", @action = "/Lot/LotAutocomplite?typeId=02" })
                @Html.HiddenFor(x => x.InputProgramDetail.LotRefId, new { id = "yarnLotRefId" })
            </td>

        </tr>
        <tr>

            <td>
                @Html.Label("", "Qty")
            </td>
            <td>
                @Html.TextBoxFor(x => x.InputProgramDetail.Quantity, new { @data_val = "false", id = "yarnQty" })
            </td>
            <td>
                <button value="+" class="addButton" id="btnInputProgDtl">+</button>
            </td>
            <td style="float: right">
                <input onclick="search('/Planning/CollarCuffProgram/Index')" value="Back" class="addButton" type="button" />
            </td>
        </tr>
    </table>
    <hr />
    <table class="webgrid-table" id="inputProgramDtlTable">
        <thead style="background-color: #cd853f">
            <tr>

                <th>
                    Yarn
                </th>
                <th>
                    Color
                </th>
                <th>
                    Count
                </th>
                <th>
                    Lot#
                </th>
                <th>
                    Qty(Kg)
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var inDt in Model.InputDataTable)
            {
                <tr id="InRow-@Model.InputDataTable[inDt.Key].ItemCode-@Model.InputDataTable[inDt.Key].ColorRefId-@Model.InputDataTable[inDt.Key].LotRefId">
                    <td>
                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].MType)
                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].ProgramId)
                      
                        <span id="YarnItemName_@inDt.Key">
                            @Html.DisplayFor(x => x.InputDataTable[inDt.Key].ItemName)
                        </span>

                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].ItemCode, new { id = "YarnItemCode_" + inDt.Key })
                    </td>
                    <td>
                        <span id="YarnColorName_@inDt.Key">
                            @Html.DisplayFor(x => x.InputDataTable[inDt.Key].ColorName)
                        </span>
                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].ColorRefId, new { id = "YarnColorRefId_" + inDt.Key })
                    </td>
                    <td>
                        <span id="CountSizeName_@inDt.Key">
                            @Html.DisplayFor(x => x.InputDataTable[inDt.Key].SizeName)
                        </span>
                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].SizeRefId, new { id = "CountSizeRefId_" + inDt.Key })
                    </td>
                    <td>
                        <span id="LotName_@inDt.Key">
                            @Html.DisplayFor(x => x.InputDataTable[inDt.Key].LotName)
                        </span>
                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].LotRefId, new { id = "LotRefId_" + inDt.Key })
                    </td>


                    <td>
                        @Html.DisplayFor(x => x.InputDataTable[inDt.Key].Quantity)
                        @Html.HiddenFor(x => x.InputDataTable[inDt.Key].Quantity, new { id = "Quantity_" + inDt.Key })
                    </td>
                    <td>
                        <input type="button" value="Edit" onclick="editCollarCuffInputProgram('@inDt.Key')" />
                    </td>
                    <td>
                        <input type="button" value="X" onclick="removeRow(this)" />
                    </td>
                </tr>


            }
        </tbody>
    </table>
</fieldset>
