@model SCERP.Web.Areas.Planning.Models.ViewModels.ProgramViewModel
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
<div style="width:500px; padding-left:340px;">
    <h4>@(Model.Program.ProgramId > 0 ? "Edit " : "Add ") Collar Cuff Program </h4>
</div>
<link href="~/Content/Common/SingleDropdownMenu.css" rel="stylesheet" />

<section class="search formCover tabefont">
    @using (Html.BeginForm("Save", "CollarCuffProgram", FormMethod.Post, new { id = "CollarCuffProgramForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Program.ProgramId)
        @Html.ValidationSummary(true)
        <div class="additem">
            <div style="font-size:12px; margin-bottom: 10px;">
                <fieldset>
                    <legend>Program</legend>
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            @Html.Label("", "Prog.No")
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.Program.ProgramRefId, new { @readonly = "readonly", @style = "background-color: #EEEEEE" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.Label("", "Prg Date")
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.Program.PrgDate, new { @class = "datepicker" })
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.Label("", "Exp Date")
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.Program.ExpDate, new { @placeholder = "Expected Date", @class = "datepicker" })
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.Label("", "Prog.Type")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.ProgramType, Model.ProgramTypeSelectListItem)
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.Label("", "Party Type")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.CID, Model.PartyTypeSelectListItem)
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.Label("", "Party")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.PartyId, Model.PartySelectListItem)
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.Label("", "Processor")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.ProcessorRefId, Model.ProcessorSelectListItem)
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.Label("", "Attention")
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.Program.Attention)
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.Label("", "Buyer")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.BuyerRefId, Model.BuyerSelectListItem, new { @class = "CollarCuffProgram_BuyerRefId" })
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.Label("", "Order")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.OrderNo, Model.OrderSelectListItem, new { @class = "CollarCuffProgram_OrderNo" })
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.Label("", "Style")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.OrderStyleRefId, Model.StylesSelectListItem, new { @class = "CollarCuffProgram_StyleNo" })
                                        </td>
                                        <td>
                                            @Html.Label("*", new { @class = "labelInstruction" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.Label("", "Group")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Program.CGRID, new SelectList(new[] { new { Value = "000000", Text = "N/A" } }, "Value", "Text"))
                                        </td>
                                    </tr>

                                    <tr style="width: 100%">
                                        <td>
                                            @Html.Label("", "Remarks")
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(x => x.Program.Rmks)
                                        </td>
                                    </tr>

                                </table>
                            </td>
                            <td>
                                <div>
                                    @Html.Partial("~/Areas/Planning/Views/CollarCuffProgram/_CollarCuffInputProgramDetail.cshtml", Model)
                                </div>
                                <div>
                                    @Html.Partial("~/Areas/Planning/Views/CollarCuffProgram/_CollarCuffOutputProgramDetail.cshtml", Model)
                                </div>
                                <div>
                                    <input type="button" class="addButton" id="btnsSveCollarCuffProgram" value="Save" />
                                </div>
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </div>

        </div>
    }

</section>


@section scripts
{
    <script src="~/Scripts/SCERP/Planning/collarCuffProgram.js"></script>
}
