@using iTextSharp.tool.xml.html
@model SCERP.Web.Areas.Inventory.Models.ViewModels.BrandViewModel
@{
    ViewBag.Title = Model.BrandId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "Brand", FormMethod.Post, new { @class = "Brandform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.BrandId)
    @Html.HiddenFor(model => model.IsActive)
    <fieldset>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="4">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td class="fieldTitleCls">
                    @Html.Label("Brand Name:")
                </td>
                <td>
                    @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })
                   
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                   @Html.ValidationMessageFor(x => x.Name)
                </td>
            </tr>
            <tr>
                <td class="fieldTitleCls">
                    @Html.Label("Description:")
                </td>
                <td>
                    @Html.TextAreaFor(x => x.Description, new { @class = "text ui-widget-content ui-corner-all" })
                </td>
                <td colspan="1">
                    
                </td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td>
                    @Html.SaveButton()
                </td>
            </tr>
        </table>

    </fieldset>
}




