@using SCERP.Common
@model SCERP.Web.Areas.Inventory.Models.ViewModels.RedyeingFabricIssueViewModel
@{
    Layout = null;
}
@foreach (var m in Model.RedyeingFabricIssueDetails)
{
    <tr id="NewRow_@Model.RedyeingFabricIssueDetails[m.Key].BatchId.ToString()_@Model.RedyeingFabricIssueDetails[m.Key].BatchDetailId.ToString()">
        <td>
            @Html.DisplayFor(x => x.RedyeingFabricIssueDetails[m.Key].BatchNo)
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].BatchNo, new { id = "BatchNo_" + m.Key })
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].BatchId, new { id = "BatchId_" + m.Key })
        </td>
        <td>
            @Html.DisplayFor(x => x.RedyeingFabricIssueDetails[m.Key].ItemName)
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].ItemName, new { id = "ItemName_" + m.Key })
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].BatchDetailId, new { id = "BatchDetailId_" + m.Key })
        </td>
        <td>
            @Html.DisplayFor(x => x.RedyeingFabricIssueDetails[m.Key].ReprocessQty)
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].ReprocessQty, new { id = "ReprocessQty_" + m.Key })
        </td>
        <td>
            @Html.DisplayFor(x => x.RedyeingFabricIssueDetails[m.Key].FinishQty)
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].FinishQty, new { id = "FinishQty_" + m.Key })
        </td>
      
        <td>
            @Html.DisplayFor(x => x.RedyeingFabricIssueDetails[m.Key].NoRole)
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].NoRole, new { id = "NoRole_" + m.Key })
        </td>
        <td>
            @Html.DisplayFor(x => x.RedyeingFabricIssueDetails[m.Key].Remarks)
            @Html.HiddenFor(x => x.RedyeingFabricIssueDetails[m.Key].Remarks, new { id = "Remarks_" + m.Key })
        </td>
        <td>
            <input type="button" value="X" onclick="deleteRow(this)" />
        </td>
    </tr>
}
