@model SCERP.Web.Areas.Accounting.Models.ViewModels.TrialBalanceViewModel

@{
    ViewBag.Title = "GL Trial Balance";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="header-title">
    <h2>GL Trial Balance</h2>
</div>

@using (Html.BeginForm("GLTrialBalanceNew", "Report", FormMethod.Get, new { @class = "IncomeStatementForm submit-allow ignore-validation" }))
{
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">

                @Html.Partial("~/Areas/Accounting/Views/Shared/_FinancialPeriod.cshtml")

                <tr>
                    <td> @Html.DisplayName("Print Format: ") </td>
                    <td> @Html.DropDownList("PrintFormatId", null, new { style = "" }) </td>
                    <td> @Html.DisplayName("Company Name: ") </td>
                    <td> @Html.DropDownList("sectorId", null, "- Select -", new { style = "", @disabled = "disabled" }) </td>
                    <td> @Html.DisplayName("Show: ") </td>
                    <td>
                        <input id="btnPrint" class="addButton" type="button" onclick="javascript: PrintIncomeStatement();" value="Print" />
                    </td>
                </tr>
            </table>
        </div>
    </section>
}

@section scripts
{
    <script type="text/javascript">
            function PrintIncomeStatement() {
                var SectorId = $('#sectorId').val();
                var fromDate = $('#FromDate').val();
                var toDate = $('#ToDate').val();
                var FpId = $('#FpId').val();
                var FileType = $('#PrintFormatId option:selected').text();
                window.open("/Accounting/Report/GLTrialBalanceNew?SectorId=" + SectorId + "&fromDate=" + fromDate + "&toDate=" + toDate + "&FpId=" + FpId + "&ExportType=" + FileType);
            }
    </script>
}