@model SCERP.Web.Areas.Accounting.Models.ViewModels.VoucherEntryViewModel

@{
    ViewBag.Title = "Voucher Statement";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Index", "VoucherEntry", FormMethod.Post, new { @class = "VoucherEntrySearchForm ignore-validation" }))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.IsSearch)
    
    <div class="header-title">
        <h2>Voucher Statement</h2>
    </div>
    
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">

                <tr>
                    <td> @Html.Label("Voucher Type :") </td>
                    <td> @Html.DropDownListFor(x => x.VoucherList.VoucherType, Model.VoucherTypeSelectListItem, "ALL") </td>

                    <td> @Html.DisplayName("Print Format : ") </td>
                    <td> @Html.DropDownList("PrintFormatId", null, new { style = "" }) </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> @Html.Label("From date :") </td>
                    @*<td> @Html.EditorFor(x => x.VoucherList.FromDate) </td>*@
                    <td>@Html.TextBoxFor(x => x.VoucherList.FromDate, new { @class = "datepicker", placeholder = "From Date" })</td>

                    <td>@Html.Label("To date :")</td>
                    @*<td>@Html.EditorFor(x => x.VoucherList.ToDate)</td>*@
                    <td>@Html.TextBoxFor(x => x.VoucherList.ToDate, new { @class = "datepicker", placeholder = "To Date" })</td>

                    <td>
                        <input type="button" value="Show Report" onclick="javascript: PrintReport();" class="showReport addButton" />
                    </td>
                </tr>

            </table>
        </div>
    </section>
}

@section scripts
{
    <script type="text/javascript">
        
        function PrintReport() {
             
            var voucherType = $('#VoucherList_VoucherType').val();
            var fromDate = $('#VoucherList_FromDate').val();
            var toDate = $('#VoucherList_ToDate').val();
            var FileType = $('#PrintFormatId option:selected').text();
            window.open("/Accounting/Report/VoucherStatementPrint?&fromDate=" + fromDate + "&toDate=" + toDate + "&voucherType=" + voucherType + "&ExportType=" + FileType);
        }

    </script>
}
