@model SCERP.Web.Areas.HRM.Models.ViewModels.DepartmentSectionViewModel
@{
    ViewBag.Title = (Model.DepartmentSectionId > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "DepartmentSection", FormMethod.Post, new { @class = "DepartmentLineform" }))
{   @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.EditedDate)
    @Html.HiddenFor(model => model.DepartmentSectionId)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.EditedBy)
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Department Section</legend>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="4">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Company :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @class = "Hrm_CompanyId", @action = "/HRM/DepartmentLine/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                    @Html.ValidationMessageFor(model => model.SearchFieldModel.SearchByCompanyId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Branch :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @class = "SearchByBranchId", @action = "/HRM/DepartmentLine/GetAllBranchUnitByBranchId", @TargetClass = "SearchByBranchUnitId" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                    @Html.ValidationMessageFor(model => model.SearchFieldModel.SearchByBranchId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Unit :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.UnitSelectListItem, "--Select--", new { @class = "SearchByBranchUnitId", @action = "/HRM/DepartmentLine/GetAllUnitDepatmeByBranchUnitId", @TargetClass = "SearchByBranchUnitDepartmentId" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                    @Html.ValidationMessageFor(model => model.SearchFieldModel.SearchByBranchUnitId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Department :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.BranchUnitDepartmentId, Model.DepartmentSelectListItem, "--Select--", new { @class = "SearchByBranchUnitDepartmentId" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                    @Html.ValidationMessageFor(model => model.BranchUnitDepartmentId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Section :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SectionId, Model.SectionSelectListItem, "-Select-")
                    @Html.Label("*", new { @class = "labelInstruction" })
                    @Html.ValidationMessageFor(x => x.SectionId)
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

