@model SCERP.Web.Areas.Production.Models.SewingOutputProcessViewModel
@{
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<div style="width:500px; padding-left:340px;">
    <h3>Sewing Output </h3>
</div>
<section class="search formCover">
    <div>
        @using (Html.BeginForm("SweingOutBarcode", "SewingOutPutProcess", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.SewingOutPutProcess.SewingOutPutProcessId)
            <table class="tabefont webgrid-table">
                <tr>
                    <td>@Html.Label("InputDate")</td>
                    <td>@Html.TextBoxFor(x => x.SewingOutPutProcess.OutputDate, new { @class = "datepicker", @data_val = "false", id = "txtInputDate", style = "width: 100px;" })</td>
                    <td>@Html.Label("Hour")</td>
                    <td>
                        @Html.DropDownListFor(x => x.SewingOutPutProcess.HourId, Model.HourSelectListItem, "-Select-", new { @class = "HourId", style = "width: 116px;" })
                    </td>
              
                    <td>@Html.Label("Line")</td>
                    <td>
                        @Html.DropDownListFor(x => x.SewingOutPutProcess.LineId, Model.MachineSelectListItem, "-Select-", new { @class = "LineId", style = "width: 116px;", id = "swiput_lineId", @placeholder = "Scan Barcode" })
                    </td>
           
                    <td>@Html.Label("Bundle")</td>
                    <td>
                        @Html.TextBoxFor(x => x.SewingOutPutProcess.JobNo, new { style = "width: 100px;", id ="outputBarcode" })
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="additem" style="overflow-y: scroll;height: 400px;" id="sweingOutBarcodeList">
        @Html.Partial("~/Areas/Production/Views/SewingOutPutProcess/_SweingOutPutList.cshtml", Model)
    </div>
</section>

@section scripts
{
    <script type="text/javascript">

        $('#outputBarcode').on({
            keypress: function () { typed_into = true; },
            change: function () {
                var form = $(this).parents('form:first');
                if (typed_into) {
                    typed_into = false;
                    var option = {
                        url: form.attr('action'),
                        type: 'POST',
                        datatype: "html",
                        data: form.serialize(),

                    }
             
                    if (jQuery.validator && jQuery.validator.unobtrusive) {
                        form.validate();
                        if (!form.valid()) {
                          
                            return false;
                        } else {
                            $.Ajax(option).done(function (respons) {
                                $('#sweingOutBarcodeList').html(respons);
                                $('#outputBarcode').val('');
                            });
                        }
                    }
                 
                } else {
                    alert('not type');
                }
            }
        });


        $('#swiput_lineId').on('change', function() {
            var lineId = $(this).val();
            var option = {
                url: '/Production/SewingOutPutProcess/GetSweingOutPutList',
                type: 'GET',
                datatype: "html",
                data: { lineId: lineId }

            }
            $.Ajax(option).done(function(respons) {
                $('#sweingOutBarcodeList').html(respons);
                $('#outputBarcode').val('');
            });
        });
    </script>
}
