@using SCERP.Common
@model SCERP.Web.Areas.Marketing.Models.MarketingInquiryViewModel
@{
    ViewBag.Title = "Marketing Inquiry";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
@using (Html.BeginForm("Index", "MarketingInquiry", FormMethod.Get, new { @class = "MarketingInstituteForm" }))
{
    @Html.HiddenFor(x => x.IsSearch)
    <div class="header-title">
        <h2>Marketing Inquiry</h2>
    </div>
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Marketing Persong")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.MarketingInquiriy.MarketingPersonId, Model.MarketingPersonSelectList, "--Select--")
                    </td>
                    <td>
                        @Html.Label("Criteria")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchString, new {@data_val = "false", @placeholder = "Search key"})
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        </div>
    </section>
}
<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/Marketing/MarketingInquiry/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.MarketingInquiries, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
           @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    tableStyle: "webgrid-table webgrid",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    selectedRowStyle: "webgrid-selected-row",
                    rowStyle: "webgrid-row-style",
                    firstText: "First",
                    lastText: "Last",
                    nextText: "Next",
                    mode: WebGridPagerModes.All,
                    previousText: "Previous",
                    columns:
                    grid.Columns(
                    grid.Column("InquiryId", header: "RefId"),
                    grid.Column("InquiryDate", "Visit Date", format: @<text>@(item.InquiryDate == null ? "" : item.InquiryDate.ToString("dd-MM-yyyy"))</text>, canSort: false),
                    grid.Column("MarketingInstitute.InstituteName", header: "Organization"),
                    grid.Column("MarketingInstitute.District", header: "Area"),
                    grid.Column("InquiryContactPerson", header: "ContactPerson"),
                    grid.Column("Mobile", header: "Mobile"),
                    grid.Column("BillNo", header: "Bill No"),
                     grid.Column("Detail/Edit", canSort: false, format: @<text><button class="edit" action="/Marketing/MarketingInquiry/Edit?MarketingInquiriy.InquiryId=@item.InquiryId"></button></text>),
                     grid.Column("Delete", canSort: false, format:@<text><button class="delete" action="/Marketing/MarketingInquiry/Delete?InquiryId=@item.InquiryId"></button></text>)));
        }
    </div>
</section>
