@{
    Layout = "~/Views/Shared/_LayoutStart.cshtml";

    var message = ViewBag.Message;
}   
 
@*@Styles.Render("~/Content/css")*@

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-signin" }))
{

    <div class="login-section">

        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-4"></div>
                <div class="col-xs-10 col-sm-8 col-md-4">
                    <div class="login-sec">
                        <h2 class="text-center">
                            <a href="http://www.soft-code.net" target="_blank"><img src="~/Content/images/GTex-logo.png" class="img-responsive" style="width: 104px; display: inline-block;" alt="" /></a>
                        </h2>
                        <form class="login-form">
                            <div class="input-container">
                                @Html.TextBox("userId", null, new {@class = "form-control custom-form-control", @placeholder = "", @autofocus = "autofocus"})
                                <label for="exampleInputEmail">User Id</label>
                                <div class="bar"></div>
                            </div>
                            <div><b>OR</b></div>
                            <div class="input-container">
                                @Html.TextBox("email", null, new { @class = "form-control custom-form-control", @placeholder = "" })
                                <label for="exampleInputPassword1">Password</label>
                                <div class="bar"></div>
                            </div>

                            <div class="form-check">
                                <button type="submit" class="btn btn-login pull-right">Send Password</button>

                                <label class="form-check-label">
                                    <a href="#" class="text-center back-login-page">
                                        @Html.ActionLink("LogIn Page", "Login")
                                    </a>
                                </label>

                            </div>
                            <div class="help-block">
                                <span>@message</span>
                            </div>

                        </form>
                    </div>
                    <div class="copy-text">
                        Copyright &copy; @(DateTime.Now.Year) <a href="" target="blank">DhakaSoft Limited</a> All Rights Reserved.
                    </div>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-4"></div>
            </div>
        </div>

    </div>

}
 



