@model SCERP.Web.Areas.Merchandising.Models.ViewModel.OmColorViewModel
@{
    ViewBag.Title = Model.ColorId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "OmColor", FormMethod.Post, new { @class = "OmColorform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ColorId)

    <fieldset>
        <legend>Color</legend>
        <table class="tabefont">
          
            <tr>
                <td>
                    @Html.Label("Ref No:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.ColorRefId, new { @style = "background-color:#708090", @readonly = "readonly" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td >
                    @Html.Label("Name :")
                </td>
                <td>

                    @Html.TextBoxFor(x => x.ColorName)

                </td>
                <td >
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(x => x.ColorName)
                </td>
            </tr>
            <tr>
                <td  >
                    @Html.Label("Code:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.ColorCode)
                </td>
                <td ></td>
            </tr>
        
            <tr>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
            </tr>
        </table>

    </fieldset>
}




