@using SCERP.Common
@model SCERP.Web.Areas.Merchandising.Models.ViewModel.CosumptionCostViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="header-title">
    <h2>Supplier Wise Accessories Quantity Assign</h2>
</div>
<section class="common-search-section">
    <div class="search common-search-wrapper">
        
        @using (Html.BeginForm("Index", "CosumptionCost", FormMethod.Get, new {@class = "CosumptionCostSearchForm"}))
        {
            @Html.HiddenFor(x => x.IsSearch)
            <table class="tabefont">
                <tr>
                    <td class="custom-tag">ORDER STYLE LIST</td>
                    <td>
                        @Html.EditorFor(x => x.FromDate, new {htmlAttributes = new {@data_val = "false", @placeholder = "From date"}})
                    </td>
                    <td>@Html.Label("To")</td>
                    <td>
                        @Html.EditorFor(x => x.ToDate, new {htmlAttributes = new {@data_val = "false", @placeholder = "To date"}})
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchString, new {@data_val = "false", @placeholder = "Criteria", @autofocus = "autofocus"})
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        }

    </div>
</section>

<section class="search formCover">
    <div class="cosumptionLsitContainer">

        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.OmBuyOrdStyles, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            tableStyle: "webgrid-table webgrid gridSelect",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "buyerOrderStyle-row",
            selectedRowStyle: "buyerOrderStyle-row",
            rowStyle: "buyerOrderStyle-row",
            firstText: "First",
            lastText: "Last",
            nextText: "Next",
            mode: WebGridPagerModes.All,
            previousText: "Previous",
            columns:
                grid.Columns(
                    grid.Column("OrderNo", canSort: false, header: "Order Ref."),
                    grid.Column("RefNo", canSort: false, header: "Order#"),
                    grid.Column("OrderStyleRefId", canSort: false, header: "Style Ref."),
                    grid.Column("StyleName", canSort: false, header: String.Format("{0}", "Style")),
                    grid.Column("SeasonName", canSort: false, header: "Season"),
                    grid.Column("ItemName", canSort: false, header: String.Format("{0}", "ItemName")),
                    grid.Column("Quantity", canSort: false, header: "Quantity"),
                    grid.Column("Unit", canSort: false, header: "Unit"),
                    grid.Column("Styles", canSort: false, format: @<text><button class="btnDetail" targentclass="cosumptionLsitContainer" action="/Merchandising/CosumptionCost/CosumptionLsit?OrderStyleRefId=@item.OrderStyleRefId&&IsSearch=true"></button></text>)))
            ;
        }

    </div>
</section>

