@model SCERP.Web.Areas.Merchandising.Models.ViewModel.OmCategoryViewModel
@{
    ViewBag.Title = Model.CatergoryId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "OmCategory", FormMethod.Post, new { @class = "OmCategoryform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CatergoryId)
    <fieldset>
        <legend>Category</legend>
        <table class="tabefont">
            <tr>
                <td>
                    @Html.Label("Ref No:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.CatRefId, new { @style = "background-color:#708090", @readonly = "readonly" })
                </td>
                <td></td>

                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Category :")
                </td>
                <td>

                    @Html.TextBoxFor(x => x.CatName)

                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(x => x.CatName)
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </fieldset>
}


