@model SCERP.Web.Areas.Inventory.Models.ViewModels.BookingViewModel
@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    ViewBag.Title = (Model.Booking.BookingId > 0 ? "Edit" : "Add");
}
@using (Html.BeginForm("Save", "YarnBooking", FormMethod.Post, new { @class = "YarnBookingForm ignore-validation" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Booking.BookingId)
    @Html.HiddenFor(x => x.IsSearch)
    <fieldset>
        <legend>Yarn Booking</legend>

        <table class="tabefont">
            <tr>
                <td>
                    @Html.DisplayName("BKRef:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Booking.BookingRefId, new { @style = "background-color: #b0c4de;", @readonly = "readonly" })
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.DisplayName("OrderNo:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Booking.OrderNo)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Date :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Booking.BookingDate, new { @class = "datepicker" })
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>

                <td>

                    @Html.Label("StyleNo :")
                </td>
                <td>
                    @Html.EditorFor(x => x.Booking.StyleNo)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Marchandiser :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.Booking.MarchandiserId, Model.MerchandisersSelectListItem, "-Select-")
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.Label("OrderQty :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Booking.OrderQty)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Buyer :")
                </td>
                <td>

                    @Html.DropDownListFor(x => x.Booking.BuyerId, Model.BuyerSelectListItem, "-Select-")
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>



                <td>
                    @Html.Label("PiNo :")
                </td>
                <td>
                    @Html.EditorFor(x => x.Booking.PiNo)
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    @Html.Label("Supplier :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.Booking.SupplierId, Model.SupplierSelectListItem, "-Select-")
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>



                <td>
                    @Html.Label("Remarks :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Booking.Remarks, new { @class = "booKing_remarks" })
                </td>
                <td></td>
            </tr>
        </table>
        <div id="batchInfo" style="font-size: 12px;"></div>
        <hr />
        <table class="tabefont" id="bookingTable">
            <tr>
                <td>

                    @Html.DisplayName("Yarn :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.BookingDetail.ItemName, new { @onkeyup = "itemAutocomplite(this)", @class = "itemName", @data_val = "false", @placeholder = "Serach Item" })
                    @Html.HiddenFor(x => x.BookingDetail.ItemId, new { @class = "AdvanceitemHiddenField" })
                </td>
                <td>
                    @Html.Label("", "Color")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.BookingDetail.FColorName, new { @class = "autocompliteColorSerach", @data_target = "#Color_FColorRef", @action = "/BuyerOrderColorSize/ColorAutoComplite?typeId=01", @placeholder = "Color", @data_val = "false" })
                    @Html.HiddenFor(x => x.BookingDetail.FColorRefId, new { @id = "Color_FColorRef" })
                </td>
            </tr>
            <tr>
                <td>

                    @Html.DisplayName("Lot No :")
                </td>
                <td>

                    @Html.TextBoxFor(x => x.BookingDetail.ColorName, new { @class = "Color_SearchString", @placeholder = "Serach Brand", @data_val = "false" })
                    @Html.HiddenFor(x => x.BookingDetail.ColorRefId, new { @class = "Color_ColorRef" })
                </td>
                <td>

                    @Html.DisplayName("Rate :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.BookingDetail.Rate, new { @class = "Booking_Rat", Value = "", @data_val = "false" })
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Count :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.BookingDetail.SizeName, new { @class = "Size_SearchString", @placeholder = "Serach Count" })
                    @Html.HiddenFor(x => x.BookingDetail.SizeRefId, new { @class = "Size_SizeRef" })

                </td>
                <td>

                    @Html.DisplayName("Qty :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.BookingDetail.Quantity, new { @class = "Booking_QuantityEnterEvent", Value = "", @data_val = "false" })

                </td>

            </tr>
        </table>
        <hr />
        <div>

            <table id="BookingDetail" class="tabefont webgrid-table" style="width:650px;">
                <thead style="text-align: center" class="webgrid-header">
                    <tr>
                        <th>
                            @Html.Label("Yarn")
                        </th>
                        <th>
                            @Html.Label("Color")
                        </th>
                        <th>
                            @Html.Label("Lot No")
                        </th>
                        <th>
                            @Html.Label("Count")
                        </th>
                        <th>
                            @Html.Label("Rate")
                        </th>
                        <th>
                            @Html.Label("Qty")
                        </th>
                        <th>
                            @Html.Label("Delete")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var m in Model.BookingDetailsDictionary)
                    {
                        <tr id="newRow-@Model.BookingDetailsDictionary[m.Key].ItemId">
                            <td>
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].BookingId)
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].BookingDetailId)
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].ItemId)
                                @Html.DisplayFor(x => x.BookingDetailsDictionary[m.Key].ItemName)
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].FColorRefId)
                                @Html.DisplayFor(x => x.BookingDetailsDictionary[m.Key].FColorName)
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].ColorRefId)
                                @Html.DisplayFor(x => x.BookingDetailsDictionary[m.Key].ColorName)
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].SizeRefId)
                                @Html.DisplayFor(x => x.BookingDetailsDictionary[m.Key].SizeName)
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].Rate)
                                @Html.DisplayFor(x => x.BookingDetailsDictionary[m.Key].Rate)
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.BookingDetailsDictionary[m.Key].Quantity)
                                @Html.DisplayFor(x => x.BookingDetailsDictionary[m.Key].Quantity)
                            </td>
                            <td>
                                <input type="button" value="-" onclick="deleteRow(this)" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div style="float: right">
                <table class="tabefont">
                    <tr>
                        <td>
                            <input type="submit" value="Save" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </fieldset>
}
@section scripts
{
    <script src="~/Scripts/SCERP/Inventory/yarnBooking.js"></script>
}
