@using SCERP.Common
@model SCERP.Web.Areas.Inventory.Models.ViewModels.GoodsReceivingNoteViewModel
@{
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<div class="header-title">
    <h2>Goods Receiving Notes</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        
        @using (Html.BeginForm("Index", "GoodsReceivingNote", FormMethod.Get, new {@class = "GoodsReceivingNoteSearchForm ignore-validation"}))
        {
            @Html.HiddenFor(x => x.IsSearch)

            <table class="tabefont">
                <tr>
                    <td>
                        @Html.TextBoxFor(x => x.FromDate, new {@class = "datepicker", @data_val = "false", @placeholder = "From date"})
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.ToDate, new {@class = "datepicker", @data_val = "false", @placeholder = "To date"})
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.SearchString, new {@data_val = "false", @placeholder = "Search key"})
                    </td>

                    <td>
                        @Html.Label("Sending Status")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.IsSendToStoreLedger, Model.GRNStatusSelectListItem, "All")
                    </td>

                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        }

    </div>
</section>

<section class="search formCover">
    <div class="additem">
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.VGoodsReceivingNotes, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
               tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns: grid.Columns(
                grid.Column("GRNNumber", header: String.Format("{0}", "GRN NO"), format: @<text>@(item.GRNNumber ?? "")</text>),
                grid.Column("GRNDate", header: String.Format("{0}", "GRN Date"), format: @<text>@(item.GRNDate == null ? "" : item.SendingDate.ToString("dd-MM-yyyy"))</text>),
                grid.Column("QCReferenceNo", header: String.Format("{0}", "QC Ref."), format: @<text>@(item.QCReferenceNo ?? "")</text>),
                grid.Column("RequisitionNo", header: "ReqNo ", format: @<text>@(item.RequisitionNo ?? "")</text>, canSort: false),
                grid.Column("ReceivedRegisterNo", header: "ReceRegNo", format: @<text>@(item.ReceivedRegisterNo ?? "")</text>, canSort: false),
                grid.Column("GateEntry", header: String.Format("{0}", "GE #"), format: @<text>@(item.GateEntry ?? "")</text>, canSort: false),
                grid.Column("InvoiceNo", header: "InvNo ", format: @<text>@(item.InvoiceNo ?? "")</text>, canSort: false),
                grid.Column("SupplierCompanyName", header: "Supplier", format: @<text>@(item.SupplierCompanyName ?? "")</text>, canSort: false),
                grid.Column("IsSendToStoreLedger", header: @"IsSent", format: @<text>@(item.IsSendToStoreLedger == true ? "Sent" : "Unsent")</text>, canSort: false),
                grid.Column("Update", format:@<text> <button class="edit" action="/Inventory/GoodsReceivingNote/UpdateStoreLedger?ItemStoreId=@item.ItemStoreId&QualityCertificateId=@item.QualityCertificateId&GoodsReceivingNotesId=@item.GoodsReceivingNotesId"></button>  </text>, canSort: false),
                grid.Column("Delete", format: @<text><button class="delete" action="/Inventory/GoodsReceivingNote/Delete?GoodsReceivingNotesId=@item.GoodsReceivingNotesId"></button></text>, canSort: false),
                @*grid.Column("Report", format:@<text><input type="button" onclick="search('@Url.Action("Report", "GoodsReceivingNote", new { GoodsReceivingNotesId = item.GoodsReceivingNotesId })')" value="Report" /></text>, canSort: false),*@
                grid.Column("Export",format:@<text><a target="_blank" href="/Inventory/GoodsReceivingNote/Report?GoodsReceivingNotesId=@item.GoodsReceivingNotesId">PDF</a></text>, canSort: false)));
        }
    </div>
</section>

