@using SCERP.Common
@model SCERP.Web.Areas.Inventory.Models.ViewModels.MaterialIssueRequisitionViewModel
@{
    ViewBag.Title = "MaterialIssueRequisition";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

@using (Html.BeginForm("Index", "MaterialIssueRequisition", FormMethod.Get, new { @class = "MaterialIssueRequisitionSearchForm ignore-validation" }))
{
    @Html.HiddenFor(x => x.IsSearch)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="width: 500px; padding-left: 340px;">
        <h3>Material Issue Requisition</h3>
    </div>
    <section class="search formCover" style="margin-bottom: 3px;">
        <table class="tabefont">
            @{Html.RenderPartial("~/Areas/Inventory/Views/MaterialIssueRequisition/_SearchMaterialIssueRequisition.cshtml", Model); }
            <tr>
                <td>
                    @Html.Label(String.Format("{0}", @"IRN Note No:"))
                </td>
                <td>
                    @Html.EditorFor(x => x.IssueReceiveNoteNo)
                </td>
                <td>
                    &nbsp;   &nbsp;  &nbsp;
                <td>
                    <input type="button" class="searchAction" />
                </td>
            </tr>
        </table>
    </section>
}

<section class="search formCover">
    <div class="additem">
        <div style="margin-bottom: 3px;">
            <input type="button" onclick="search('@Url.Action("Edit", "MaterialIssueRequisition")','MaterialIssueRequisitionSearchForm')" value="Add New" />
        </div>
        <div style="width: 1024px; overflow: auto">
            @{
                var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
                grid.Bind(Model.VMaterialIssueRequisitions, rowCount: Model.TotalRecords, autoSortAndPage: false);
                grid.Pager(WebGridPagerModes.All);
                var gridColumns = new List<WebGridColumn>();
                gridColumns.Add(grid.Column("UnitName", header: "Unit ", format: @<text>@(item.UnitName ?? "")</text>));
                gridColumns.Add(grid.Column("DepartmentName", header: "Department ", format: @<text>@(item.DepartmentName ?? "")</text>));
                gridColumns.Add(grid.Column("SectionName", header: "Section ", format: @<text>@(item.SectionName ?? "--")</text>));
                gridColumns.Add(grid.Column("Line", header: "Line ", format: @<text>@(item.LineName ?? "--")</text>));
                gridColumns.Add(grid.Column("IssueReceiveNoteNo", header: "Issue Req.NoteNo", format: @<text>@(item.IssueReceiveNoteNo ?? "--")</text>));
                gridColumns.Add(grid.Column("IssueReceiveNoteDate", header: "Issue Req.Note Date", format: @<text>@(item.IssueReceiveNoteDate == null ? "" : item.IssueReceiveNoteDate.ToString("dd-MM-yyyy"))</text>, canSort: false));
                gridColumns.Add(grid.Column("PreparedByEmployeeName", header: "PreparedBy ", format: @<text>@(item.PreparedByEmployeeName ?? "--")</text>));
                gridColumns.Add(grid.Column("Remarks", header: "Remarks ", format: @<text>@(item.Remarks ?? "--")</text>));
                if (Model.IsUserIsStorePerson)
                {
                    gridColumns.Add(grid.Column("Issued", format:@<text><input type="button" onclick="search('@Url.Action("Edit", "MaterialIssue", new { MaterialIssueRequisitionId = item.MaterialIssueRequisitionId, IsComeFromIssueRequsition = true })')" value="@(item.IsModifiedByStore == false ? "No" : "Yes")" /></text>, canSort: false));
                    gridColumns.Add(grid.Column("Detail/Edit", format:@<text> <input type="button" onclick="search('@Url.Action("Edit", "MaterialIssueRequisition", new { MaterialIssueRequisitionId = item.MaterialIssueRequisitionId })')" value="Edit" /> </text>, canSort: false));
                }
                else
                {
                    gridColumns.Add(grid.Column("IsSentToStore", header: "Sent To Store ", format: @<text>@(item.IsSentToStore == false ? "No" : "Yes")</text>));
                    gridColumns.Add(grid.Column("IsModifiedByStore", header: "Modified By Store", format: @<text>@(item.IsModifiedByStore == false ? "No" : "Yes")</text>));
                    gridColumns.Add(grid.Column("Detail/Edit", format:@<text> <input type="button" onclick="search('@Url.Action("Edit", "MaterialIssueRequisition", new { MaterialIssueRequisitionId = item.MaterialIssueRequisitionId })')" value="Edit" /> </text>, canSort: false));
                    gridColumns.Add(grid.Column("Delete", format:@<text><button class="delete" action="/Inventory/MaterialIssue/Delete?MaterialIssueId=@item.MaterialIssueRequisitionId"></button></text>, canSort: false));
                }
}
            @grid.GetHtml( htmlAttributes: new { id = "grid" },
                        tableStyle: "webgrid-table webgrid",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        firstText: "First",
                        lastText: "Last",
                        nextText: "Next",
                        mode: WebGridPagerModes.All,
                        previousText: "Previous",
                        columns: grid.Columns(gridColumns.ToArray()))
        </div>
    </div>
</section>
