@using SCERP.Common
@model SCERP.Web.Areas.HRM.Models.ViewModels.CompanyViewModel

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var displayStyle = (Model.Companies.Count > 0) ? "" : "none";
}


<div class="header-title">
    <h2>Company Information</h2>
</div>

<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        @using (Html.BeginForm("Index", "Companies", FormMethod.Get, new { @class = "CompaniesSearchForm  ignore-validation" }))
        {
            @Html.HiddenFor(x => x.IsSearch)

            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Company Name: ")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchByCompanyName)
                    </td>
                    <td>
                        <input type="button" class="searchAction" />
                    </td>
                </tr>
            </table>

        }


    </div>
</section>
            <section class="search formCover">
                <div class="additem">
                    <div style="margin-bottom: 3px;">
                        <button class="AjaxPopup addButton" action="/HRM/Companies/Edit">Add New</button>
                    </div>
                    @{
                    var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
                    grid.Bind(Model.Companies, rowCount: Model.TotalRecords, autoSortAndPage: false);
                    grid.Pager(WebGridPagerModes.All);
                    @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                    grid.Columns(
                        grid.Column("Name", header: "Company", format: @<text>@(item.Name ?? "")</text>),
                        grid.Column("FullAddress",canSort:false, header: "Address", format: @<text>@(item.FullAddress ?? "")</text>),
                        grid.Column("Phone", canSort: false),
                        grid.Column("Fax", canSort: false),
                        grid.Column("Email", canSort: false),
                        grid.Column("Website", canSort: false),
                        grid.Column("Detail/Edit",canSort:false,format:@<text><button class="edit" action="/HRM/Companies/Edit/@item.Id"></button></text>),
                        grid.Column("Delete",canSort:false,format:@<text><button class="delete" action="/HRM/Companies/Delete/@item.Id"></button></text>)));
                    }
                </div>

                <div class="exportReport">
                    <a style="display:@displayStyle;" href="@Url.Action("GetExcel", "Companies", new {  SearchByCompanyName = Model.SearchByCompanyName})"><img src="~/Content/images/Excel-icon.png" width="30" height="30" title="Export to Excel" /></a>
                    @*<a style="display:@displayStyle;" href="@Url.Action("GetPdf", "Companies", new {  SearchByCompanyName = Model.SearchByCompanyName})" target="_blank"><img src="~/Content/images/Pdf-icon.png" width="30" height="30" title="Export to Excel" /></a>*@
                    <img style="display:@displayStyle;" class="printspecificpagereport" action="@Url.Action("Print", "Companies", new { SearchByCompanyName = Model.SearchByCompanyName})" title="Print" src="~/Content/images/print-icon.png" />
                </div>
            </section>


