@model SCERP.Web.Areas.Inventory.Models.ViewModels.ReDyeingFabricReceiveViewModel
@{
    ViewBag.Title = Model.ReDyeingFabricReceive.ReDyeingFabricReceiveId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}

<section class="search formCover">
    @using (Html.BeginForm("Save", "ReDyeingFabricReceive", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ReDyeingFabricReceive.ReDyeingFabricReceiveId)
        <fieldset>
            <legend>Redyeing Fabric Receive</legend>
            <table class="tabefont" style="float: left; padding-right: 10px; border-right: 1px solid #000;">
                <tr>
                    <td>
                        @Html.Label("Ref No :")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ReDyeingFabricReceive.RefNo, new { @readonly = "readonly", style = "background-color: #F0ECE7;width: 240px;" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Receive Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ReDyeingFabricReceive.ReceiveDate, new { @class = "datepicker", @placeholder = "Receive Date", style = "width: 240px;" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Party")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.ReDyeingFabricReceive.PartyId, Model.PartySelectListItem, "-Select-", new { id = "ddlParyId", style = "width: 254px;" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("Challan No :")
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.ReDyeingFabricReceive.ChallanNo, new { style = "width: 240px;" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Challan Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ReDyeingFabricReceive.ChallanDate, new { @class = "datepicker", @placeholder = "Challan Date", style = "width: 240px;" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Gat Entry :")
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.ReDyeingFabricReceive.GatEntryNo, new { style = "width: 240px;" })
                    </td>
                    <td>
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                </tr>
              
                <tr>
                    <td>
                        @Html.Label("Remarks :")
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.ReDyeingFabricReceive.Remarks, new { style = "width: 240px;" })
                    </td>
                    <td></td>
                </tr>
            </table>
            <table class="tabefont" style="padding-left: 10px;">
                <tr>
                    <td>
                        <table id="reDyeingFabricReceiveDetail">
                            <tr>
                                <td>
                                    @Html.Label("Batch")
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.ReDyeingFabricReceiveDetail.BatchNo, new { @id = "BatchNoTextBox", @placeholder = "SearchBy Batch No", @data_target = "#BtRefNoHiddenText", @action = "/ReDyeingFabricReceive/GetReceivedBatchAutocomplite" })
                                    @Html.HiddenFor(x => x.ReDyeingFabricReceiveDetail.BatchId, new { @id = "BtRefNoHiddenText" })
                                </td>
                                <td>@Html.Label("Fabric Type")</td>
                                <td>
                                    @Html.DropDownListFor(x => x.ReDyeingFabricReceiveDetail.BatchDetailId, Model.ItemSelectListItem, "-Select-", new { @id = "ddlBatchDetailItem", @data_val = "false" })
                                    @Html.HiddenFor(x => x.ReDyeingFabricReceiveDetail.ItemName, new { @id = "txtItemName" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Receive Qty")</td>
                                <td>@Html.TextBoxFor(x => x.ReDyeingFabricReceiveDetail.RQty, new { id = "ReceiveQty",@data_val=false })</td>
                                <td>
                                    <input type="button" value="+" id="addRedyeingFabricReceiveDetailButton" />
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table class="tabefont webgrid-table" id="redyeingFabricReceiveDetailTable">
                            <thead style="text-align: center" class="webgrid-header">
                                <tr>
                                    <th>Batch</th>
                                    <th>Item</th>
                                    <th>RQty</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.Partial("~/Areas/Inventory/Views/ReDyeingFabricReceive/_ReDyeingFabricReceiveDetail.cshtml", Model)
                            </tbody>
                        </table>
                    </td>

                </tr>
                <tr>
                  
                    <td style="float: right">
                        <input type="submit" value="Save" class="addButton" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</section>

@section scripts
{
    <script src="~/Scripts/SCERP/Inventory/redyeingFabricReceive.js"></script>
}
