@using System.Data
@model SCERP.Web.Areas.MIS.Models.ViewModel.MisDashboardViewModel
@{
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    Layout = null;
    var mnm1 = "";
    var mnm2 = "";
}
@*<div class="header-title">
        <h2>SHIPMENT STATUS (DASHBOARD)</h2>
    </div>
    <section class="formCover">
        <div class="mis-title">SHIPMENT STATUS</div>
        <table class="webgrid-table" style="text-align: center">
            <thead class="webgrid-header mis-header">
                <tr>
                    @foreach (DataColumn col in Model.BuyerWiseOrderStyleDtable.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.BuyerWiseOrderStyleDtable.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.BuyerWiseOrderStyleDtable.Columns)
                        {
                            if (row[col.ColumnName].ToString() == "0")
                            {
                                <td></td>
                            }
                            else
                            {

                                <td>
                                    @row[col.ColumnName]
                                </td>

                            }


                        }
                    </tr>
                }

            </tbody>
        </table>
    </section>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .my-3 {
            margin-top: 10%;
        }

        .custab {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }

            .custab:hover {
                box-shadow: 3px 3px 0px transparent;
                transition: 0.5s;
            }
    </style>
</head>
<body class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 custyle">
                <h2>SHIPMENT STATUS (DASHBOARD)</h2>
                <table class="table table-striped custab" style="text-align: center">
                    <thead class="webgrid-header mis-header">
                        <tr>
                            @foreach (DataColumn col in Model.SummaryDataTable.Columns)
                            {
                                <th>@col.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.SummaryDataTable.Rows)
                        {
                          <tr>
                            @foreach (DataColumn col in Model.SummaryDataTable.Columns)
                               {
                                    if (col.ColumnName == "Merchandiser")
                                      {
                                            mnm2 = row[col.ColumnName].ToString();
                                            if (mnm2 == mnm1)
                                            {
                                              <td style="border-top: none;border-bottom:none"></td>
                                            }
                                            else
                                            {
                                              <td style="border-bottom:none">@mnm2</td>
                                              mnm1 = mnm2;
                                            }



                                    }
                                    else
                                    {
                                      <td>
                                       @row[col.ColumnName]
                                      </td>
                                    }


                             }
                           </tr>
                         }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

