@using iTextSharp.tool.xml.html
@model SCERP.Web.Areas.Inventory.Models.ViewModels.RequisitiontypeViewModel
@{
    ViewBag.Title = Model.RequisitionTypeId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "RequisitionType", FormMethod.Post, new { @class = "RequisitionTypeform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.RequisitionTypeId)
    @Html.HiddenFor(model => model.IsActive)
    <fieldset>
        <legend>RequisitionType</legend>

        <table class="tabefont">

            <tr>
                <td></td>
                <td align="left" colspan="4">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td class="fieldTitleCls">
                    @Html.Label("Requisition Type:")
                </td>
                <td>
                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.ValidationMessageFor(x => x.Title)
                </td>
            </tr>
            <tr>
                <td class="fieldTitleCls">
                    @Html.Label("Description:")
                </td>
                <td>
                    @Html.TextAreaFor(x => x.Description, new { @class = "text ui-widget-content ui-corner-all" })
                </td>
                <td class="1"></td>

            </tr>

            <tr>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
            </tr>
        </table>
    </fieldset>


}




