@using SCERP.Common
@model SCERP.Web.Areas.Merchandising.Models.ViewModel.BuyerOrderViewModel
@{
    ViewBag.Title = "BuyerOrder";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="header-title">
    <h2>Approved Buyer Order</h2>
</div>

<section class="common-search-section">
    <div class="search common-search-wrapper">
        
        @using (Html.BeginForm("ApprovedOrder", "BuyerOrder", FormMethod.Get, new {@class = "ApprovedOrderSearchForm"}))
        {
            @Html.HiddenFor(x => x.IsSearch)
            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Criteria")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchString, new {@data_val = "false", @placeholder = "Criteria", @autofocus = "autofocus"})
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        }

    </div>
</section>

<section class="search formCover">
    <div class="additem">
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.BuyerOrders, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    tableStyle: "webgrid-table webgrid",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    selectedRowStyle: "webgrid-selected-row",
                    rowStyle: "webgrid-row-style",
                    firstText: "First",
                    lastText: "Last",
                    nextText: "Next",
                    mode: WebGridPagerModes.All,
                    previousText: "Previous",
                    columns:
                        grid.Columns(
                            grid.Column("OrderNo", canSort: false, header: "Order Ref."),
                            grid.Column("OrderDate", canSort: false, header: "Order Date", format: @<text>@(item.OrderDate == null ? "" : item.OrderDate.ToString("dd-MM-yyyy"))</text>),
                            grid.Column("RefNo", canSort: false, header: String.Format("{0}", "Order#")),
                            grid.Column("BuyerName", canSort: false, header: String.Format("{0}", "Buyer")),
                            grid.Column("SeasonName", canSort: false, header: "Season"),
                            grid.Column("SMode", canSort: false, header: "ShipMode"),
                            grid.Column("Quantity", canSort: false, header: "Quantity"),
                            grid.Column("ShipQty", canSort: false, header: "ShipQty"),
                            grid.Column("MeasurementUnit", canSort: false, header: "Unit"),
                            grid.Column("EmpName", canSort: false, header: "Merchandiser"),
                            grid.Column(columnName: "Order Sheet Detail", format: @<text><a href="@Url.Action("DetailOrderSheet", "BuyerOrder", new { OrderNo = item.OrderNo })" target="_blank">PDF</a></text>),
                            grid.Column(columnName: "OrderSheet", format:@<text><a href="@Url.Action("ShowPdfOrderSheet", "BuyerOrder", new { OrderNo =item.OrderNo})" target="_blank">PDF</a></text>))) ;
        }
    </div>
</section>