@using SCERP.Common
@model SCERP.Web.Areas.Planning.Models.ViewModels.TNATemplateViewModel

@{
    ViewBag.Title = "Template to TNA";
    Layout = "~/Views/Shared/_Layout2.cshtml";    
}

@using (Html.BeginForm("Save", "TNAToTemplate", FormMethod.Get, new {@class = "tnaSearchForm submit-allow ignore-validation"}))
{
    @Html.HiddenFor(x => x.IsSearch)

    <div class="header-title">
        <h2>Template to TNA</h2>
    </div>

    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>@Html.Label("Template Name: ")</td>
                    <td>@Html.DropDownList("TemplateId", null, new {style = ""})</td>

                    <td>@Html.Label("Style No: ")</td>
                    <td>@Html.TextBoxFor(x => x.OrderStyleRefId)</td>

                    <td><input type="button" class="searchAction" /></td>
                </tr>
            </table>
        </div>
    </section>
}

@section scripts
{
    <script type="text/javascript">

        $('#OrderStyleRefId').autocomplete(
            {
                source: '@Url.Action("TagSearch", "Tna")'
            });     
    </script>
}