@using SCERP.Common
@model SCERP.Web.Areas.Tracking.Models.ViewModels.VehicleGateEntryViewModel
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="header-title">
    <h2>Vehicle Gate Entry List</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        @using (Html.BeginForm("Index", "VehicleGateEntry", FormMethod.Get, new { @class = "VehicleGateEntrySearchForm ignore-validation" }))
        {
        @Html.HiddenFor(x => x.IsSearch)

        <table>
            <tr>
                <td>
                    @Html.TextBoxFor(x => x.FromDate, new { @class = "datepicker", @data_val = "false", @placeholder = "From date", @style = "" })
                </td>

                <td>
                    @Html.TextBoxFor(x => x.ToDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To date", @style = "" })
                </td>
                <td>
                    @Html.TextBoxFor(x => x.SearchString, new {@style = "", @data_val = "false", @placeholder = "Search key" })
                </td>
                <td>
                    @Html.Label("Criteria: ")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.CheckOutStatus, Model.CheckOutStatusSelectListItem,"ALL", new { @style = "" })
                </td>
                <td>
                    <input type="button" class="searchAction" />
                </td>
            </tr>
        </table>
        }
    </div>
</section>

<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/Tracking/VehicleGateEntry/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.VehicleGateEntryList, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                  grid.Columns(
                  grid.Column(header: "A/I",
                  format: @<input class="InActiveVehicleGateEntry" disabled onclick="InActiveVehicleGateEntry(this)" name="VehicleGateEntryCheckBox" @(item.CheckOutStatus == 2 ? "checked" : "") type="checkbox" value="@item.VehicleGateEntryId" />),
                  grid.Column("GateEntryNumber", header: "Gate Entry Number"),
                  grid.Column("TrackVehicle.VehicheType", header: "Vehicle"),
                  grid.Column("VehicleNumber", header: "Vehicle Number"),
                  grid.Column("InvoiceNumber", header: "Invoice Number"),
                  grid.Column(format: (item) => string.Format("{0:dd-MMM-yyyy}", item.EntryDate??""), header: "CheckIn Date"),
                  grid.Column(format: (item) => string.Format("{0:hh:mm tt}", item.EntryDate??""), header: "CheckIn Time"),
                  grid.Column(format: (item) => string.Format("{0:dd-MMM-yyyy}", item.ExitDate ?? ""), header: "CheckOut Date"),
                  grid.Column(format: (item) => string.Format("{0:hh:mm tt}", item.ExitDate ?? ""), header: "CheckOut Time"),
                  grid.Column("Remarks", header: "Remarks"),                 
                  grid.Column("Check Out", canSort: false, format: @<text><button class="edit" action="/Tracking/VehicleGateEntry/ShowForCheckOut?VehicleGateEntryId=@item.VehicleGateEntryId"></button></text>),
                  grid.Column("Detail/ Edit", canSort: false, format: @<text><button class="edit" action="/Tracking/VehicleGateEntry/Edit?VehicleGateEntryId=@item.VehicleGateEntryId"></button></text>),
                  grid.Column("Delete",canSort:false,format:@<text><button class="delete" action="/Tracking/VehicleGateEntry/Delete?VehicleGateEntryId=@item.VehicleGateEntryId"></button></text>)));
        }
    </div>
</section>

