@using System.Data
@using SCERP.Common
@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeManualOverTimeViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<div class="header-title">
    <h2>MANUAL OVERTIME OT</h2>
</div>
<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        @using (Html.BeginForm("Index", "EmployeeManualOT", FormMethod.Get, new {@class = "taskForm ignore-validation"}))
        {
            @Html.HiddenFor(x => x.IsSearch)

            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Employee Card Id :")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.EmployeeCardId, new {@style = "width:200px;", @data_val = "false", @placeholder = "Search key"})
                    </td>

                    <td>
                        @Html.Label("OT Hours :")
                    </td>

                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>

        }
    </div>
</section>

<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/HRM/EmployeeManualOT/Edit">Add New</button>
        </div>

        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.EmployeeManualOTs, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                    grid.Columns(
                        //grid.Column("EmployeeManualOverTimeId", header: "Employee Manual Over Time Id"),
                        grid.Column("EmployeeCardId", header: "Employee Card Id"),
                        grid.Column(format: (item) => string.Format("{0:dd-MMM-yyyy}", item.Date ?? ""), header: "Date"),
                        grid.Column("OverTimeHours", header: "Over Time Hours"),
                        grid.Column("Detail/ Edit", canSort: false, format: @<text><button class="edit" action="/HRM/EmployeeManualOT/Edit?employeeManualOverTimeId=@item.EmployeeManualOverTimeId"></button></text>),
                        grid.Column("Delete", canSort: false, format:@<text><button class="delete" action="/HRM/EmployeeManualOT/Delete?employeeManualOverTimeId=@item.EmployeeManualOverTimeId"></button></text>)));
        }
    </div>
</section>




