@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeGradeSalaryPercentageViewModel

@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    int rowCount = 1;
}

<div class="additem ">
    <div>
        <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
        <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
            <thead class="reportHeader">
                <tr class="reportTitle">
                    <td colspan="15" align="center">Plummy Fashions Ltd.</td>
                </tr>
                <tr class="reportTitle">
                    <td colspan="15" align="center">EmployeeGrade Salary Percentage List</td>
                </tr>
                <tr>
                    <td>Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                </tr>
            </thead>
        </table>

        <table class="pdfReportTable" border="1">
            <thead class="reportThead">
                <tr class="reportTR">
                    <td class="reportTH">
                        SL. No
                    </td>
                    <td class="reportTH">
                        Employee Type
                    </td>
                    <td class="reportTH">
                        Employee Grade
                    </td>
                    <td class="reportTH">
                        Medical
                    </td>
                    <td class="reportTH">
                        Conveyance
                    </td>
                    <td class="reportTH">
                        Food
                    </td>
                  
                    <td class="reportTH">
                        Basic Salary Rate
                    </td>
                    <td class="reportTH">
                        House Rent(%)
                    </td>
                </tr>
            </thead>
            <tbody class="reportBody">

                @foreach (var employeeTypeSalaryPer in Model.EmployeeGradeSalaryPercentages)
                {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                        <td class="reportTD">
                            @(employeeTypeSalaryPer.EmployeeGrade.EmployeeType == null ? "" : employeeTypeSalaryPer.EmployeeGrade.EmployeeType.Title)
                        </td>
                        <td class="reportTD">
                            @(@employeeTypeSalaryPer.EmployeeGrade == null ? "" : employeeTypeSalaryPer.EmployeeGrade.Name)
                        </td>
                    
                        <td class="reportTD">
                            @employeeTypeSalaryPer.Medical
                        </td>
                        <td class="reportTD">
                            @employeeTypeSalaryPer.Conveyance
                        </td>
                        <td class="reportTD">
                            @employeeTypeSalaryPer.Food
                        </td>
                        <td class="reportTD">
                            @employeeTypeSalaryPer.BasicPercentageRate
                        </td>
                        <td class="reportTD">
                            @employeeTypeSalaryPer.HouseRentPercentage
                        </td>
                    </tr>
                    rowCount += 1;
                }

            </tbody>

        </table>


    </div>

</div>



