@model SCERP.Web.Areas.HRM.Models.ViewModels.MaternityLeaveViewModel

<tr>
    <td>
        @Html.Label("Company :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @class = "SearchByCompanyId", @action = "/HRM/EmployeeDailyAttendance/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" })
    </td>
    <td>
        @Html.Label("Branch :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @class = "SearchByBranchId", @action = "/HRM/EmployeeDailyAttendance/GetAllBranchUnitByBranchId", @TargetClass = "SearchByBranchUnitId" })
    </td>
</tr>

<tr>
    <td>
        @Html.Label("Unit :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.BranchUnitSelectListItem, "--Select--", new { @class = "SearchByBranchUnitId", @action = "/HRM/EmployeeDailyAttendance/GetAllBranchUnitDepartmentByBranchUnitId", @TargetClass = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine" })
    </td>
    <td>
        @Html.Label("Department :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitDepartmentId, Model.BranchUnitDepartmentSelectListItem, "--Select--", new { @class = "Hrm_BranchUnitDepartmentForDepartmentSectionAndLine", @action = "/HRM/EmployeeDailyAttendance/GetDepartmentSectionAndLineByBranchUnitDepartmentId", @TargetClass = "Hrm_DepartmentSection", @OtherTargetClass = "Hrm_DepartmentLine" })
    </td>
</tr>

<tr>
    <td>
        @Html.Label("Section :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentSectionId, Model.DepartmentSectionSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentSection" } })
    </td>
    <td>
        @Html.Label("Line :")
    </td>
    <td>
        @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentLineId, Model.DepartmentLineSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentLine" } })
    </td>
</tr>

<tr>
    <td>
        @Html.Label("From :")
    </td>
    <td>
        @Html.TextBoxFor(x => x.SearchFieldModel.StartDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
    </td>
    <td>
        @Html.Label("To :")
    </td>
    <td>
        @Html.TextBoxFor(x => x.SearchFieldModel.EndDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
    </td>
</tr>
