@model SCERP.Web.Areas.HRM.Models.ViewModels.MaternityLeaveViewModel
@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    ViewBag.Title = (Model.MaternityPaymentId > 0) ? "Edit" : "Add";
}

@using (Html.BeginForm("Save", "MaternityLeave", FormMethod.Post, new {@class = "maternityform"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MaternityPaymentId)

    <fieldset>
        <legend> Maternity Leave </legend>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="4"> @Html.Label("Fields with asterisk(*) mark are mandatory", new {@class = "labelInstruction"}) </td>
            </tr>
            
            <tr>
                <td> </td>
                <td class="fieldTitleCls">Employee Id:</td>
                <td>
                    @Html.TextBoxFor(model => model.EmployeeCardId)
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.EmployeeCardId)
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="fieldTitleCls">Leave Start Date:</td>
                <td>
                    @Html.TextBoxFor(x => x.LeaveDayStart, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.LeaveDayStart)
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="fieldTitleCls">Leave End Date:</td>
                <td>
                    @Html.TextBoxFor(x => x.LeaveDayEnd, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.LeaveDayEnd)
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="fieldTitleCls">First Payment Date:</td>
                <td>     
                    @Html.TextBoxFor(x => x.FirstPaymentDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.FirstPaymentDate)
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="fieldTitleCls">First Payment Amount:</td>
                <td>
                    @Html.TextBoxFor(model => model.FirstPaymentAmount)
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.FirstPaymentAmount)
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="fieldTitleCls">Second Payment Date:</td>
                <td>    
                    @Html.TextBoxFor(x => x.SecondPaymentDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.SecondPaymentDate)
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="fieldTitleCls">Second Payment Amount:</td>
                <td>
                    @Html.TextBoxFor(model => model.SecondPaymentAmount)
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.SecondPaymentAmount)
                </td>
            </tr>
                                                        
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
