@model SCERP.Web.Areas.HRM.Models.ViewModels.BranchUnitWorkShiftViewModel

<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        <table class="tabefont">
            <tr>
                <td>
                    @Html.Label("Company :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new {@class = "Hrm_CompanyId", @action = "/HRM/BranchUnitWorkShift/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId"})
                </td>

                <td>
                    @Html.Label("Branch :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new {@class = "SearchByBranchId", @action = "/HRM/BranchUnitWorkShift/GetAllBranchUnitByBranchId", @TargetClass = "SearchByBranchUnitId"})
                </td>

                <td>
                    @Html.Label("Unit :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchUnitId, Model.UnitSelectListItem, "--Select--", new { @class = "SearchByBranchUnitId", @action = "/HRM/BranchUnitWorkShift/GetAllUnitDepatmeByBranchUnitId", @TargetClass = "SearchByUnitDepartmentId" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("WorkShift :")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByWorkShiftId, Model.WorkShiftSelectListItem, "--Select--")
                </td>

                <td>
                    <input type="button" class="searchAction" />
                </td>
            </tr>
        </table>
    </div>
</section>
