@using SCERP.Common
@model SCERP.Web.Areas.Payroll.Models.ViewModels.ReportSearchViewModel

@{
    ViewBag.Title = "Employee Family Info Report";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("EmployeeFamilyInfoIndex", "Report", FormMethod.Get, new { @class = "ReportSearchForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="width: 500px; padding-left: 340px;">
        <h3> Employee Family Info Report </h3>
    </div>

    <section class="search formCover" style="margin-bottom: 3px;">

        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="3">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            @{ Html.RenderPartial("~/Areas/Payroll/Views/Report/_SearchReport.cshtml", Model); }
            <tr>
                <td>
                    @Html.Label("Section: ")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentSectionId, Model.DepartmentSectionSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentSection" } })
                <td>
                    @Html.Label("Line: ")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByDepartmentLineId, Model.DepartmentLineSelectListItem, "-Select-", new Dictionary<string, object> { { "data-val", false }, { "class", "Hrm_DepartmentLine" } })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Employee ID:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.EmployeeCardId, new { htmlAttributes = new { @class = "CardId" } })
                </td>
                <td>@Html.Label("Employee Name:")</td>
                <td>@Html.TextBoxFor(x => x.SearchFieldModel.SearchByEmployeeName, new { htmlAttributes = new { @class = "CardId" } })</td>
            </tr>
            
            <tr>
                <td>
                    @Html.Label("Child Gender:")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchByGenderId, Model.GenderSelectListItem, "--Select--")
                </td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>
                    @Html.Label("DOB From")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.FromDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td>
                    @Html.Label("DOB To")
                </td>
                <td>    
                    @Html.TextBoxFor(x => x.ToDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" id="showReport" class="addButton" onclick="search('@Url.Action("EmployeeFamilyInfo", "Report")','ReportSearchForm')" value="Show Report" />
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </section>
}