@model SCERP.Web.Areas.Planning.Models.ViewModels.PlanningReportViewModel
@{
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";

}
<div class="header-title">
    <h2>Style Wise SMV Detail Status</h2>
</div>

<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        @using (Html.BeginForm("StyleWiseSmvDetail", "Report", FormMethod.Get, new { @class = "ReportSearchForm ignore-validation" }))
        {
            @Html.HiddenFor(x => x.IsShowReport)
            <table class="tabefont">
                <tr>
                    <td>@Html.Label("From")</td>
                    <td>
                        @Html.EditorFor(x => x.FromDate, new { htmlAttributes = new { @data_val = "false", @placeholder = "From date" } })
                    </td>
                    <td>@Html.Label("To")</td>
                    <td>
                        @Html.EditorFor(x => x.ToDate, new { htmlAttributes = new { @data_val = "false", @placeholder = "To date" } })
                    </td>
                    <td>
                        <input type="button" class="showRdlcReport addButton" value="Show" />
                    </td>
                </tr>
            </table>

        }

    </div>
</section>

<section class="search formCover">
    <iframe id="reportIfram"></iframe>
</section>

<script>
    $('.showRdlcReport').unbind('click').bind('click', function () {
        var form = $(this).parents('form:first');
        
        var data = form.serialize();
        $('#reportIfram').attr('src', '');
        $('#reportIfram').attr('src', '/Planning/Report/StyleWiseSmvDetail?' + data);
    });
</script>

