@using iTextSharp.text.pdf.qrcode
@model SCERP.Web.Areas.Inventory.Models.ViewModels.AdvanceMaterialIssueViewModel
@{
    Layout = null;
}

<tr id="newRow-@Model.MaterialIssueDetails[Model.Key].ItemId">
    <td>
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].AdvanceMaterialIssueId)
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].AdvanceMaterialIssueDetailId)
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].ItemId)
        @Html.DisplayFor(x => x.MaterialIssueDetails[Model.Key].ItemName)
    </td>
    <td>
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].ColorRefId)
        @Html.DisplayFor(x => x.MaterialIssueDetails[Model.Key].ColorName)
    </td>
    <td>
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].SizeRefId)
        @Html.DisplayFor(x => x.MaterialIssueDetails[Model.Key].SizeName)
    </td>
    <td>
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].IssueRate)
        @Html.DisplayFor(x => x.MaterialIssueDetails[Model.Key].IssueRate)
    </td>
    <td>
        @Html.HiddenFor(x => x.MaterialIssueDetails[Model.Key].IssueQty)
        @Html.DisplayFor(x => x.MaterialIssueDetails[Model.Key].IssueQty)
    </td>
    <td>
        <input type="button" value="-" onclick="deleteRow(this)" />
    </td>
</tr>

