@using SCERP.Common
@model SCERP.Web.Areas.Commercial.Models.ViewModel.CommImportDetailViewModel
@{
    ViewBag.Title = "Import Details";
    Layout = null;
}
@using (Html.BeginForm("Save", "ImportDetails", FormMethod.Post, new { @class = "SalesContactForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CommImportDetail.ImportDetailId)
    @Html.HiddenFor(model => model.CommImportDetail.ImportId)
    <fieldset>
        <legend> Sales Contact Detail</legend>
        <table class="tabefont">
            <tr>
                <td> </td>
                <td colspan="4"> @Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" }) </td>
            </tr>
            <tr>
                <td> </td>
                <td> @Html.Label("", "Lc No") </td>
                <td> @Html.EditorFor(model => model.CommImportDetail.LCNo) </td>
                <td> @Html.Label("*", new { @class = "labelInstruction" }) </td>
                <td> @Html.Label("Lc Date")  </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.LCDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>  </td>
            </tr>

            <tr>
                <td>  </td>
                <td> @Html.Label("", "Lc Quantity")  </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.LCQty) </td>
                <td> @Html.Label("*", new { @class = "labelInstruction" }) </td>
                <td> @Html.Label("", "Lc Value")  </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.LcValue, new { @id = "invoiceValue" }) </td>
                <td> @Html.Label("*", new { @class = "labelInstruction" }) </td>
            </tr>

            <tr>
                <td> </td>
                <td> @Html.Label("", "Invoice No") </td>
                <td> @Html.EditorFor(model => model.CommImportDetail.InvoiceNo) </td>
                <td> @Html.Label("*", new { @class = "labelInstruction" }) </td>
                <td> @Html.Label("Invoice Date")  </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.InvoiceDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>  </td>
            </tr>

            <tr>
                <td>  </td>
                <td> @Html.Label("", "Supplier Country") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.SupplierCountry) </td>
                <td>  </td>
                <td> @Html.Label("Supplier Name") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.SupplierName) </td>
                <td>  </td>
            </tr>


            <tr>
                <td>  </td>
                <td> @Html.Label("Documents Qty") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.DocsQty) </td>
                <td>  </td>
                <td> @Html.Label("Document Value") </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.DocsValue)
                </td>

                <td>  </td>
            </tr>



            <tr>
                <td>  </td>
                <td> @Html.Label("", "Incomming Port") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.IncomingPort) </td>
                <td>  </td>
                <td> @Html.Label("", "Document Receive Date") </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.DocsReceiveDate, new { @class = "datepicker", @data_val = "false", @placeholder = "Date" })
                </td>

                <td>  </td>

            </tr>


            <tr>
                <td>  </td>
                <td> @Html.Label("Docs Receive Person") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.DocsReceiverPerson) </td>
                <td>  </td>
                <td> @Html.Label("Item") </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.Item)
                </td>

                <td>  </td>

            </tr>


            <tr>

                <td>  </td>
                <td> @Html.Label("Document Receiver Agent") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.DocsReceiverAgent) </td>
                <td>  </td>
                <td> @Html.Label("Docs Receive Date By CF") </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.DocsReceiveDateByCF, new { @class = "datepicker", @data_val = "false", @placeholder = "Date" })
                </td>
                <td>  </td>


            </tr>

            <tr>

                <td>  </td>
                <td> @Html.Label("Bill Of Entry") </td>
                <td> @Html.TextBoxFor(model => model.CommImportDetail.BillOfEntry) </td>
                <td>  </td>
                <td> @Html.Label("Exp Date") </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.DocsReceiveDateByCF, new { @class = "datepicker", @data_val = "false", @placeholder = "Date" })
                </td>
                <td>  </td>


            </tr>

            <tr>
                <td>  </td>
                <td> @Html.Label("Display Member") </td>
                <td> @Html.EditorFor(model => model.CommImportDetail.DisplayMember) </td>
                <td>  </td>

                <td> @Html.Label("Good Inhouse Date") </td>
                <td>
                    @Html.TextBoxFor(x => x.CommImportDetail.GoodsInHouseDate, new { @class = "datepicker", @data_val = "false", @placeholder = "To" })
                </td>
                <td>  </td>
            </tr>


            <tr>
                <td> </td>
                <td> @Html.Label("Receiving Bank Address : ") </td>
                <td> @Html.TextAreaFor(model => model.CommImportDetail.BillOfEntry) </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
                <td> </td>
                <td>
                    @Html.Button(Model.CommImportDetail.ImportDetailId > 0 ? "Update" : "Save", "button", new Dictionary<string, object> { { "class", "addButton FindPartial" }, { "target", ".salesContactList" }, { "action", "/ImportDetails/Save" } })
                </td>
                <td>
                    @Html.Button("Refresh", "button", new Dictionary<string, object> { { "class", "addButton" }, { "onclick", "refreshsalesContact(this)" }, { "targetId", ".salesContactEdit" }, { "action", "/ImportDetails/Refresh?importId=" + Model.CommImportDetail.ImportId } })
                </td>
                <td>
                    <input type="button" class="dialogClose addButton" action="/Commercial/Import/Index" value="Close" />
                </td>
            </tr>
        </table>
    </fieldset>
}