@using SCERP.Common
@model SCERP.Web.Areas.HRM.Models.ViewModels.QuitTypeViewModel
@{
    ViewBag.Title = "QuitType";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var displayStyle = (Model.QuitTypes.Count > 0) ? "" : "none";
}

@using (Html.BeginForm("Index", "QuitType", FormMethod.Get, new { @class = "QuitTypeSearchForm  " }))
{
    @Html.HiddenFor(x => x.IsSearch)

    <div class="header-title">
        <h2>QuitType</h2>
    </div>
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("QuitType :")
                    </td>
                    <td>
                        @Html.EditorFor(x => x.SearchByQuitType)
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        </div>
    </section>

}

<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/HRM/QuitType/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.QuitTypes, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                    grid.Columns(
                       grid.Column("Type", header: "QuitType"),
                        grid.Column("Description", header: "Description", canSort: false),
                        grid.Column("Detail/Edit", canSort: false, format: @<text><button class="edit" action="/HRM/QuitType/Edit?QuitTypeId=@item.QuitTypeId"></button></text>),
                        grid.Column("Delete",canSort:false,format:@<text><button class="delete" action="/HRM/QuitType/Delete?QuitTypeId=@item.QuitTypeId"></button></text>)));
        }
    </div>
    <div class="exportReport">
        <a style="display:@displayStyle;" href="@Url.Action("GetExcel", "QuitType", new { Type = Model.SearchByQuitType })"><img src="~/Content/images/Excel-icon.png" width="30" height="30" title="Export to Excel" /></a>
        <img style="display:@displayStyle;" class="printspecificpagereport" action="@Url.Action("Print", "QuitType", new { Type = Model.SearchByQuitType })" title="print" src="~/Content/images/print-icon.png" />
    </div>

</section>


