@model SCERP.Web.Areas.Commercial.Models.ViewModel.PurchaseOrderViewModel
@{
    Layout = null;
}

<table class="webgrid-table">
    <thead style="text-align: center" class="webgrid-header">
        <tr>
            <th>
                @Html.Label("PrdName")
            </th>

            <th>
                @Html.Label("Color")
            </th>
            <th>
                @Html.Label("Size")
            </th>
            <th>
                @Html.Label("Quantity")
            </th>
            <th>
                @Html.Label("Rate")
            </th>

            <th>
                @Html.Label("Unit")
            </th>
        </tr>
    </thead>
    <tbody style="justify-content: center">

        @for (var index = 0; index < Model.PurchaseOrderDetails.Count(); index++)
        {
            <tr class="webgrid-row-style">
                <td>
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].PurchaseOrderId)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].PurchaseOrderDetailId)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].ItemCode)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].GColorRefId)
                    @Html.DisplayFor(x => x.PurchaseOrderDetails[index].ItemName)
                </td>
                <td>
                    @Html.DisplayFor(x => x.PurchaseOrderDetails[index].ColorName)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].ColorRefId)
                </td>
                <td>
                    @Html.DisplayFor(x => x.PurchaseOrderDetails[index].SizeName)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].SizeRefId)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.PurchaseOrderDetails[index].Quantity, new { @style = "width:150px;border:none" })
                </td>
                <td>
                    @Html.DisplayFor(x => x.PurchaseOrderDetails[index].xRate)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].xRate)
                </td>
                <td>
                    @Html.DisplayFor(x => x.PurchaseOrderDetails[index].UnitName)
                    @Html.HiddenFor(x => x.PurchaseOrderDetails[index].UnitName)
                </td>

            </tr>
        }
    </tbody>

</table>

