@model SCERP.Web.Areas.Inventory.Models.ViewModels.FabricReturnViewModel
@{
    ViewBag.Title = Model.FabricReturn.FabricReturnId > 0 ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "CollarCuffReceive", FormMethod.Post, new { @class = "CollarCuffReceiveform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.FabricReturn.FabricReturnId)
    @Html.HiddenFor(model => model.FabricReturn.ProgramId)
    <fieldset>
        <legend>Grey/Yarn Receive</legend>
        <table class="tabefont">
            <tr>
                <td>
                    @Html.Label("Challan No:")
                </td>
                <td>

                    @Html.TextBoxFor(x => x.FabricReturn.ReturnChallanNo)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
              
            </tr>
            <tr>
                <td>
                    @Html.Label("Date:")
                </td>
                <td>

                    @Html.TextBoxFor(x => x.FabricReturn.ReturnDate, new {@class = "datepicker"})
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>

            </tr>
            <tr>
                <td>
                    @Html.Label("Item:")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.ProgramDetailId, Model.ProgramDetailsSeletedItem, "-Select-")
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Qty(Kg):")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.FabricReturn.FabQty)
                </td>
                <td>
                    @Html.Label("*", new {@class = "labelInstruction"})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Qty(Pcs):")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.FabricReturn.QtyInPcs)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Rest Yarn:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.FabricReturn.ReturnYarnQty)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Wastage Yarn:")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.FabricReturn.WstYarnQty)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Remarks:")
                </td>
                <td>
                    @Html.TextAreaFor(x => x.FabricReturn.Remarks)
                </td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td></td>
              
                <td>
                    @Html.Button("Add", "button", new Dictionary<string, object> { { "class", "innerTabSaveButton addButton" }, { "TargentClass", "fabricReturnContent" } })
                </td>
               
            </tr>
        </table>

    </fieldset>
}




