@using SCERP.Common
@model SCERP.Web.Areas.HRM.Models.ViewModels.ReportSearchViewModel

@{
    ViewBag.Title = "Final Settlement";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Search10PMNoWeekend", "FinalSettlement", FormMethod.Get, new { @class = "FinalSettlementSearchForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="width: 500px; padding-left: 340px;">
        <h3> Final Settlement </h3>
    </div>

    <section class="search formCover" style="margin-bottom: 3px;">
        <table class="tabefont">
            <tr>
                <td> </td>
                <td align="left" colspan="2">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr>
            <tr>
                <td> @Html.Label("Prepare Date :") </td>
                <td> @Html.TextBoxFor(x => x.Date, new { @class = "datepicker", @data_val = "false", @placeholder = "date" }) </td>
                <td> @Html.Label("*", new { @class = "labelInstruction" }) </td>
            </tr>
            <tr>
                <td> @Html.Label("Employee ID:") </td>
                <td> @Html.TextBoxFor(x => x.SearchByEmployeeCardId, new { htmlAttributes = new { @class = "CardId" } }) </td>
                <td> @Html.Label("*", new { @class = "labelInstruction" }) </td>
            </tr>
            <tr>
                <td> @Html.Label("Others Deduction") </td>
                <td> @Html.TextBoxFor(x => x.OthersDeduction, new { htmlAttributes = new { @class = "CardId" } }) </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td height="40px"><input type="button" class="addButton" id="ShowLetter" value="Generate Final Settlement" /></td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
    </section>
}

<script type="text/javascript">

    $('#ShowLetter').click(function () {
        //  $(this).searchAction();
        var form = $(this).parents('form:first');
        if (jQuery.validator && jQuery.validator.unobtrusive) {
            form.validate();
            if (!form.valid()) {
                return false;
            } else {
                var url = form.attr('action');
                var data = form.serialize();
                var searchurl = url + '?' + data;
                window.open(searchurl);
            }
        }
    });
</script>