@using SCERP.Common
@model SCERP.Web.Areas.UserManagement.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    input[type="Password"] {
        border: 1px solid #ccc;
        border-radius: 2px;
        height: 10px;
        margin: 0;
        padding: 6px;
        width: 146px;
    }
</style>

@using (Html.BeginForm("ChangeCurrentPassword", "User", FormMethod.Post, new { @class = "PassWordChangeform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div style="width:500px; padding-left:340px;">
        <h2>Reset Password</h2>
    </div>
    <section class="search formCover" style="margin-bottom: 3px;">
    <fieldset>
        <legend>Change Password</legend>
        
            <table class="tableFont" style="width:420px;">
                <tr>
                    <td></td>
                    <td align="left" colspan="3">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
                </tr>

                <tr>
                    <td class="fieldTitleCls" style="width: 150px;">User Name</td>
                    <td colspan="3">
                        @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly" })
                    </td>
                </tr>

                <tr>
                    <td class="fieldTitleCls" style="width: 150px;">Old Password</td>
                    <td>
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.OldPassword, "Required")
                    </td>
                </tr>
                <tr>
                    <td class="fieldTitleCls" style="width: 150px;">New Password</td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td> 
                    <td>
                        @Html.ValidationMessageFor(model => model.Password, "Required")
                    </td>
                </tr>

                <tr>
                    <td class="fieldTitleCls" style="width: 150px;">Confirm Password</td>
                    <td>
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.Label("*", new { @class = "labelInstruction" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "Required")
                    </td>
                </tr>

                <tr>
                    <td class="fieldTitleCls" style="width: 150px;"></td>
                    <td style="width:146px;" colspan="3">
                        <input type="submit" class="SubmitButton addButton" value="Save" />
                    </td>
                </tr>

                <tr>
                    <td colspan="3" align="left">
                        @Html.Partial("~/Views/Shared/_CustomError.cshtml")
                    </td>
                    <td>
                        @ViewBag.Massage
                    </td>
                </tr>
            </table>
    </fieldset>
   </section>

}
