@model SCERP.Web.Areas.HRM.Models.ViewModels.PenaltyTypeViewModel
@{

    ViewBag.Title = Model.PenaltyTypeId > 0 ? "Edit " : "Add ";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}

@using (Html.BeginForm("Save", "PenaltyType", FormMethod.Post, new { @class = "PenaltyTypeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PenaltyTypeId)
    <fieldset>
        <legend>Penalty Type</legend>
        <table class="tabefont">
            <tr>
                <td></td>
                <td align="left" colspan="2">@Html.Label("Fields with asterisk(*) mark are mandatory", new { @class = "labelInstruction" })</td>
            </tr> 
            <tr>
                <td>
                    @Html.Label("Penalty Type :")
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Type)
                </td>
                <td>
                    @Html.Label("*", new { @class = "labelInstruction" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.Label("Description :")
                </td>
                <td>
                    @Html.TextAreaFor(x => x.Description)
                </td>

            </tr>

            <tr>
                <td></td>
                <td>
                    @Html.SaveButton()
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
