@model  SCERP.Model.AccountingModel.Acc_CostCentreMultiLayer

@{
    ViewBag.Title = "Add control centre";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}

<style type="text/css">
    input[readonly="readonly"] {
        background-color: #b0c4de;
    }
</style>

@using (Html.BeginForm("SaveCostCentre", "CostCentreMultiLayer", new {@class = "ControlCentreForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.SortOrder)
    @Html.HiddenFor(model => model.ItemLevel)
    @Html.HiddenFor(model => model.IsActive)

    <div>
        <table style="width: 400px;" class="tabefont">
            <tr>
                <td></td>
                <td class="fieldTitleCls"> Parent Cost Centre Id</td>
                <td>
                    @Html.TextBoxFor(model => model.ParentId, new {@readonly = "readonly"})
                    @Html.ValidationMessageFor(model => model.ParentId)
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="fieldTitleCls"> Cost Centre Id</td>
                <td>
                    @Html.TextBoxFor(model => model.ItemId, new {@readonly = "readonly"})
                    @Html.ValidationMessageFor(model => model.ItemId)
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="fieldTitleCls">Cost Centre Name</td>
                <td>
                    @Html.TextBoxFor(model => model.ItemName)
                    @Html.ValidationMessageFor(model => model.ItemName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="button" id="saveCostCentre" value="save" />
                </td>
            </tr>
            @Html.Partial("~/Views/Shared/_CustomError.cshtml")
        </table>
    </div>
}

 
@section scripts
{
    <script type="text/javascript">
        $('#ItemName').keyup(function() {

            $('#ItemName').css('border-color', '');
        });
        $('#saveCostCentre').click(function() {
            var form = $(this).parents('form:first');


            if ($('#ItemName').val().length == 0) {
                $('#ItemName').css('border-color', 'red');
            } else {

                $.ajax({
                    url: '/Accounting/CostCentreMultiLayer/SaveCostCentre',
                    data: form.serialize(),
                    type: 'POST',
                    success: function(data) {
                        if (data.Success == false && data.Success != 'undefined' && data.Error == true && data.Error != 'undefined') {
                            $('.errorMessage').append(data.Message);

                        } else {

                            loadAction("/Accounting/CostCentreMultiLayer/CostCentreMultiLayer");
                            $('#event_result').dialog('destroy').remove();
                        }
                    }
                });
            }
        });

    </script>
}


